<div>
  <div style="margin:0 0 20px 0"></div>
  <p style="text-align:center">© 2015 版权所有 一家依</p>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">

        <li>
            <a href="/partner/index/index/partnerId/<?php echo session('authed');?>" class=[class1]>
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>

        <li>
            <a href="/partner/job/pushsomeone/pid/26" class=[class2]>
                <span class="am-icon-plus"></span>
                <span class="am-navbar-label">推荐</span>
            </a>
        </li>
        <li>
            <a href="/partner/job/index/id/<?php echo session('id');?>" class=[class3]>
                <span class="am-icon-briefcase"></span>
                <span class="am-navbar-label">岗位</span>
            </a>
        </li>

        <li>
            <a href="/partner/usercenter/user_center" class=[class4]>
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我</span>
            </a>
        </li>
    </ul>
</div>
</body>
<script>
    $current_url = window.location.pathname;
</script>
</html >