<!--导航栏-->
<!-- <include file="Public/knowledge_nav"/> -->
<div class="ui menu">
    <div class="item">
        <div class="ui button" id="knowledge_management"><a href="index">管理知识库</a></div>
    </div>
    <div class="item">
        <div class="ui button" id="knowledge_add"><a href="knowledge_type_add">管添加目录</div>
    </div>
    <div class="item">
        <div class="ui button" id="knowldege_add_msg"><a href="knowledge_add">添加新知识</a></div>
    </div>
    <div class="item">
        <div class="ui button" id="logout"><a href="index">注销</a></div>
    </div>
</div>
<!--end-->