<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一家依-管理员管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/amazeui.min.js"></script>


    <link rel="alternate icon" type="image/png" href="__STATIC__/img/logo.png">
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>
</head>
<body class="user-management-body">

<header class="am-topbar">
    <h1 class="am-topbar-brand">
        <a href="#">用户管理</a>
    </h1>

    <button class="am-topbar-am-btn am-btn-success am-topbar-toggle am-am-btn am-btn-success am-am-btn am-btn-success-sm am-am-btn am-btn-success-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li ><a href="user_management.html">所有用户</a></li>
            <li class="am-active"><a href="#">管理者用户</a></li>

        </ul>
    </div>
</header>


<table class="am-table user-table">
    <thead>
    <tr>
        <th>头像</th>
        <th>名称</th>
        <th>手机号码</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <volist name="users" id="vo">
        <tr>
            <td><img src="{$vo.header_url}" alt=""/></td>
            <td>{$vo.user_name}</td>
            <td>{$vo.telephone}</td>
            <td><div class="am-btn am-btn-success set-btn"  user-id="{$vo.id}">取消管理员身份</div></td>
        </tr>
    </volist>

    </tbody>
</table>


<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">取消管理员身份</div>
        <div class="am-modal-bd">
            确定取消管理员身份
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<include file="public/footer"/>
</body>

<script>
    var check_passwd = function(passwd){
        if(passwd.length < 6){
            return false;
        }else{
            return true;
        }
    }

    $('.set-btn').on('click', function(){
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                var target  = $(this.relatedTarget);
                var user_id = target.attr('user-id');
                //发送请求
                $.ajax({
                    url         :   'set_as_normal_user',
                    data        :   {
                        user_id     :   user_id
                    },
                    dataType    :   'json',
                    success     :   function(data, status){
                        if(data.code == 200){
                            //设置成功，刷新
                            alert('设置成功');
                            window.location.href = '';
                        }
                    }
                });

            },
            onCancel: function() {

            }
        });
    })
</script>

</html>