<div class="container-fluid bottom-var">
    <div class="row ">
            <a class="col-xs-3 item [class1]" href="new_service_info" >
                <div class="icon-home icon"></div>
                <div class="text">主页</div>
            </a>
            <a class="col-xs-3 item [class2]" href="my_appointment">
                <div class="icon-file-text icon"></div>
                <div class="text">我的预约</div>
            </a>
            <a class="col-xs-3 item [class3]" href="my_signed_appointment.html">
                <div class="icon-search icon"></div>
                <div class="text">服务查询</div>
            </a>
            <a class="col-xs-3 item [class4]" href="user_center">
                <div class="icon-user icon"></div>
                <div class="text">我</div>
            </a>

    </div>
</div>

