<div class="detail-header ">
    <div class="ui grid">
        <div class="two wide column item">
            <div class="ui item">
                <i class="list icon " id="show-list"></i>
            </div>

        </div>
        <div class="twelve wide column item">
            <div class="item"><span>[title]</span></div>
        </div>
        <div class="two wide column item">
        </div>

    </div>

    <div class="ui red vertical  sidebar menu" id="home-slider">
        <!--<a href="#" class="active item" id="close-sidebar">-->
            <!--<i class="remove icon" ></i>-->
            <!--关闭-->
            <!--</a>-->
        <a href="service_info" class="  item">
            <i class=" red home icon"></i>
            主页
            </a>
        <a class="  item" href="my_appointment">
            <i class=" teal  time icon"></i>
            我的预约
            </a>

        <a class=" item" href="my_orders">
            <i class=" red heart icon"></i>
            我关注的人
        </a>

        <a  class="item" href="user_center">
            <i class="user black icon"></i>
            用户中心
            </a>
        <a class="item" href="about_us">
            <i class="info purple icon"></i>
            关于我们
            </a>
        </div>

</div>
<script>
    $('#home-slider').sidebar('setting', {
        onShow:function(){

        },
        pushed: true
    })
    $('#show-list').on('click', function(){
        $('#home-slider').sidebar('toggle');
    })
//    $('#close-sidebar').on('click', function(){
//        $('#home-slider').sidebar('toggle');
//    })
    $('#home-slider').blur(function(){
       $(this).sidebar('toggle');
        console.log('toggle');
    });
</script>

