
<div class="container-fluid title-grid center-align header-shadow">
    <div class="row">
        <div class="col-xs-2 center-align">
            <a href=[href]>
                <h4 class="header title-header">
                    <span class="icon-arrow-left2"></span>
                </h4>

            </a>
        </div>

        <div class="col-xs-8 center-align">
            <h4 class="ui teal header title-header">[title]</h4>
        </div>

        <div class="col-xs-2">
            <a href='home_page'>
                <h4 class="header title-header">
                    <span class="icon-home"></span>
                </h4>

            </a>
        </div>
    </div>

</div>

