<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>知识库</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <script src="http://ttsstatic.qiniudn.com/jquery/jquery-2.1.1.min.js"></script>    
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"/></script>
    <script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"/></script>
    <script type="text/javascript" src="__STATIC_JS__jquery.masonry.min.js"/></script>
    <link rel="alternate icon" type="image/png" href="__STATIC_IMG__logo.png">
    <link rel="stylesheet" href="__STATIC_CSS__amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC_CSS__style.css"/>
    <link rel="stylesheet" href="__STATIC_CSS__health.css"/>
</head>
<body>
    <div class="type-header"><span></span>知识库</div>
    <!-- content start -->
    <div class="admin-content">
        <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">栏目导航</a></li>
            <li><a href="#tab2">健康信息</a></li>
            <!-- <li><a href="#tab3">其他信息</a></li> -->
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-12">
                        <div class="am-btn-group" data-am-button>
                        <div class="choose_title font_hidden">老人家信息</div>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        <label class="am_btn_change am_btn_xs_change">
                            <button type="button" class="am-btn change_but am-btn-primary am-round">样式</button>
                        </label>
                        
                        </div>
                    </div>
                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                <ul class="type_list_ul">
                    <a href="#cheng"><li>1.今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！</li></a>
                    <a href="#wind"><li>今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！</li></a>
                    <a href="#wind1"><li>今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！</li></a>
                    <a href="#wind2"><li>今天天气真好啊！今天天气真好啊！今天天气真好啊！今天天气真好啊！</li></a>
                </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- content end -->
    <div class="type-list-content" id="cheng">
        <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
            <dl class="am-accordion-item am-active ">
                <dt class="am-accordion-title">婴儿知识</dt>
                <dd class="am-accordion-bd am-collapse am-in">
                    <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                    <div class="am-accordion-content" id="wind">
                        <ul class="list_ul">
                        <li>wkdsafkdsajf</li>
                        <li>wkdsafkdsajf</li>
                        </ul>
                        13123213范德萨发生的啦；开发
                        <br/>阿峰说大了；放空间撒；联发科大厦；发来看到的萨拉克服了；撒的咖啡店；萨克服了；暗室逢灯萨菲隆；打开撒；疯了快点撒；联发科
                        <br/>发送到风纪扣撒泼放刁看见了撒娇法律的萨克积分
                        <br/>哦ijasjdflkasdjlkf
                    </div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title">老人养护</dt>
                <dd class="am-accordion-bd am-collapse ">
                    <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                    <div class="am-accordion-content" id="wind1">是法师打发
                    <br/>爱疯撒地方撒地方爱疯撒地方撒地方爱疯撒地方撒地方爱疯撒地方撒地方爱疯撒地方撒地方爱疯撒地方撒地方爱疯撒地方撒地方</div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title" id="wind2">重症病人</dt>
                <dd class="am-accordion-bd am-collapse ">
                  <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                  <div class="am-accordion-content">飞洒的房间爱上了的空间疯了快点撒家里开发建设大力开发监考老师打飞机可怜的撒娇罚款了的撒加两块了空间的萨拉开发几十块的垃圾房看到了撒娇发了就开始大力开发上课了地方空间是打发离开家罚款了大家萨克</div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title" id="wind3">年轻人啊
                <dd class="am-accordion-bd am-collapse ">
                  <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                  <div class="am-accordion-content">飞洒的房间爱上了的空间疯了快点撒家里开发建设大力开发监考老师打飞机可怜的撒娇罚款了的撒加两块了空间的萨拉开发几十块的垃圾房看到了撒娇发了就开始大力开发上课了地方空间是打发离开家罚款了大家萨克</div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title">郝男儿之情陪护
                <dd class="am-accordion-bd am-collapse ">
                  <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                  <div class="am-accordion-content">飞洒的房间爱上了的空间疯了快点撒家里开发建设大力开发监考老师打飞机可怜的撒娇罚款了的撒加两块了空间的萨拉开发几十块的垃圾房看到了撒娇发了就开始大力开发上课了地方空间是打发离开家罚款了大家萨克</div>
                </dd>
            </dl>
        </section>
    </div>
</body>
<script type="text/javascript">
  function option(){
    alert('hello cheng');
  }
  $(document).ready(function() {
  });
  $("#option_1").on("click", option);
  //$("#user_login").on("click", user_login);
</script>
</html>