<head>
    <link rel="stylesheet" href="__STATIC__/css/sidebar.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/fancySelect.css"/>

    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>

    <script type="text/javascript" src="__STATIC__/js/sidebar.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/fancySelect.js"></script>

</head>

<body class="user-address">

    <div class="ui sidebar right add-address-sidebar" >
        <div class="sidebar-container">

            <div class="add-header container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="cancel-btn btn header-btn">取消</div>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4 right-align">
                        <div class="commit-btn btn header-btn">确定</div>
                    </div>
                </div>
            </div>
            <div class="add-container container-fluid">
                <form>
                    <div class="form-group">
                        <label >省份</label>
                        <select class="provinceSelect">
                        </select>
                    </div>
                    <div class="form-group">
                        <label >城市</label>
                        <select class="citySelect">

                        </select>
                    </div>
                    <div class="form-group">
                        <label >区</label>
                        <select class="zoneSelect">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="address_stree">地址</label>
                        <input type="text" class="form-control" id="address_stree" placeholder="街道地址">
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="pusher">
        <include file="Public:title_header" href="javascript:window.history.go(-1)" title="我的地址"/>

        <div class="address-container container-fluid">
            <volist name="addresses" id="vo">
                <div class="row address-item" id="address-item-{$vo.id}">
                    <div class="col-xs-10 address-div">
                        {$vo.address}
                    </div>
                    <div class="col-xs-1 remove-div">
                        <div class="img-circle remove-btn-icon">
                            <span class="icon-remove icon" address-id="{$vo.id}"></span>
                        </div>

                        <div class="remove-select-area">
                            <div class="btn remove-cancel">取消</div>
                            <div class="btn remove-commit" address-id="{$vo.id}">删除</div>
                        </div>
                    </div>
                </div>
                <div class="divider" id="divider-{$vo.id}"></div>
            </volist>
            <div class="address-buttom">
                <div class="add-address">
                    <div class="add-btn-icon img-circle ">
                        <span class="icon-add icon"></span>
                    </div>
                    <div class="add-text">添加新地址</div>
                </div>
            </div>
        </div>


    </div>

</body>
<script>
    //选择的城市，省份
    var city_id;
    var province_id;
    var zone_id

    $(function(){
        var provinceSelect = $('.provinceSelect');
        var citySelect = $('.citySelect');
        var zoneSelect = $('.zoneSelect');

        //配置selection
        provinceSelect.fancySelect({
            forceiOS:true,
            optionTemplate: function(optionEl) {
                return  optionEl.text();
            },
            triggerTemplate: function(optionEl) {
                return  optionEl.text() + '<span style="display: none" id="' + optionEl.data('id')+'">' + optionEl.data('id') + '</span>';
            }
        });
        citySelect.fancySelect({
            forceiOS:true,
            optionTemplate: function(optionEl) {
                return  optionEl.text();
            },
            triggerTemplate: function(optionEl) {
                return  optionEl.text() + '<span style="display: none" id="' + optionEl.data('id')+'">' + optionEl.data('id') + '</span>';
            }
        });
        zoneSelect.fancySelect({
            forceiOS:true,
            optionTemplate: function(optionEl) {
                return  optionEl.text();
            },
            triggerTemplate: function(optionEl) {
                return  optionEl.text() + '<span style="display: none" id="' + optionEl.data('id')+'">' + optionEl.data('id') + '</span>';
            }
        });


        //激活
        provinceSelect.trigger('enable.fs');
        citySelect.trigger('enable.fs');
        zoneSelect.trigger('enable.fs');


        //监听省份选择事件
        provinceSelect.fancySelect().on('change.fs', function(e) {
            $(this).trigger('change.$');
            //获取选择的area_id
            var selected_id = $($(e.result[0]).find('span')).attr('id');
            console.log(selected_id);
            province_id = selected_id;
            //更新城市列表
            $.ajax({
                url:'get_cities',
                data : {province_id:selected_id},
                dataType:'json',
                success: function(data, status){
                    //默认选择第一项
                    city_id = data[0].area_id;
                    //清除原有的options
                    citySelect.children('option').remove();
                    //添加新的额options
                    data.forEach(function(x){
                        citySelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                    });
                    //更新
                    citySelect.trigger('update');

                    //更新区
                    $.ajax({
                        url:'get_zones',
                        data : {city_id:city_id},
                        dataType:'json',
                        success: function(data, status){
                            //默认选择第一项
                            console.log(data);
                            zone_id = data[0].area_id;
                            //清除原有的options
                            zoneSelect.children('option').remove();
                            //添加新的额options
                            data.forEach(function(x){
                                zoneSelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                            });
                            //更新
                            zoneSelect.trigger('update');

                        }
                    });

                }
            });
        });

        //监听城市选择事件
        citySelect.fancySelect().on('change.fs', function(e){
            $(this).trigger('change.$');
            //获取选择的area_id
            var selected_id = $($(e.result[0]).find('span')).attr('id');
            city_id = selected_id;

            //更新区
            $.ajax({
                url:'get_zones',
                data : {city_id:city_id},
                dataType:'json',
                success: function(data, status){
                    //默认选择第一项
                    console.log(data);
                    zone_id = data[0].area_id;
                    //清除原有的options
                    zoneSelect.children('option').remove();
                    //添加新的额options
                    data.forEach(function(x){
                        zoneSelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                    });
                    //更新
                    zoneSelect.trigger('update');

                }
            });
        });

        //监听地区选择
        zoneSelect.fancySelect().on('change.fs', function(e){
            $(this).trigger('change.$');
            //获取选择的area_id
            var selected_id = $($(e.result[0]).find('span')).attr('id');
            zone_id = selected_id;
        })
        //获取省份,并添加到选择项中
        $.ajax({
            url:'get_province',
            dataType:'json',
            success: function(data, status){
                //默认选择了第一项
                province_id = data[0].area_id;
                console.log(province_id);
                data.forEach(function(x){
                    provinceSelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                });
                provinceSelect.trigger('update');

                //加载城市，更新城市列表
                $.ajax({
                    url:'get_cities',
                    data : {province_id:province_id},
                    dataType:'json',
                    success: function(data, status){
                        //默认选择第一项
                        city_id = data[0].area_id;
                        //清除原有的options
                        citySelect.children('option').remove();
                        //添加新的额options
                        data.forEach(function(x){
                            citySelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                        });
                        //更新
                        citySelect.trigger('update');

                        //更新区
                        $.ajax({
                            url:'get_zones',
                            data : {city_id:city_id},
                            dataType:'json',
                            success: function(data, status){
                                //默认选择第一项
                                zone_id = data[0].area_id;
                                //清除原有的options
                                zoneSelect.children('option').remove();
                                //添加新的额options
                                data.forEach(function(x){
                                    zoneSelect.append('<option data-id="' + x.area_id + '">' + x.area_name+'</option>');
                                });
                                //更新
                                zoneSelect.trigger('update');

                            }
                        });

                    }
                });
            }
        })

//


    });


    $('.sidebar').sidebar(
            {   onShow: function(){
                    $('.add-address').hide();
                },
                onHide: function(){
                    $('.add-address').show();
                }
            }
    );


    //添加删除响应UI
    $('.remove-btn-icon').on('click', function(){
        var remove_div = $(this).parent();
        var address_div  = $($(this).parent()).siblings('.address-div');
        var select_div = $(remove_div).find('.remove-select-area');

        $(address_div).removeClass('col-xs-10');
        $(address_div).addClass('col-xs-7');
        $(remove_div).removeClass('col-xs-1');
        $(remove_div).addClass('col-xs-4');
        $(this).hide();
        $(select_div).show();
    });

    //监听删除按钮
    $('.remove-commit').on('click', function(){
        var address_id = $(this).attr('address-id');
        //删除
        $.ajax({
            url:'delete_my_address',
            data: {id:address_id},
            dataType: 'json',
            success: function(data, status){
                if(data.code == 200){
                    //删除成功，隐藏该条目
                    var address_id = data.id;

                    //获取该条目id
                    var item_id = '#address-item-' + address_id;

                    $(item_id).hide(1000);

                    var divider_id = '#divider-' + address_id;
                    $(divider_id).hide(1000);
                }
            }
        });
    })

    //监听取消删除按钮
    $('.remove-cancel').on('click', function(){
        var remove_div = $(this).parent().parent();
        var address_div  = $(remove_div).siblings('.address-div');
        var select_div = $(remove_div).find('.remove-select-area');
        var remove_icon = $(remove_div).find('.remove-btn-icon');
        $(address_div).removeClass('col-xs-7');
        $(address_div).addClass('col-xs-10');
        $(remove_div).removeClass('col-xs-4');
        $(remove_div).addClass('col-xs-1');
        $(remove_icon).show();
        $(select_div).hide();
    })



    $('.icon-add').on('click', function(){
        $('.sidebar').sidebar('toggle');
        $('#sex-sidebar').sidebar('toggle');
    })
    $('.cancel-btn').on('click', function(){
        $('.sidebar').sidebar('toggle');
//        $('#sex-sidebar').sidebar('toggle');

    })

    //确定添加新地址
    $('.commit-btn').on('click', function(){
        var address_stree = $('#address_stree').val();

        //更新地址
        $.ajax({
            url:'save_address',
            data : {
                province_id : province_id,
                city_id: city_id,
                zone_id : zone_id,
                stree : address_stree
            },
            dataType: 'json',
            success : function(data, status){
                console.log(data);
                if(data.code == 200){
                    //更新地址成功
                    window.location.href = '';
                }
            }
        })
        $(this).html('更新中');
    })

</script>
</html>