<body>
    <div class="user-info">
        <div class="container-fluid">
            <div class="row">
                <a href="user_info.html">
                <div class="col-xs-4 center-align" id="image">

                        <img class="img-circle" src="{$user.user_icon}" alt=""/>

                </div>
                <div class="col-xs-8 info-area" id="info-area">
                    <div class="name">姓名：{$user.user_name}</div>
                    <div class="phone">手机号：{$user.phone}</div>
                </div>
                </a>

            </div>
        </div>
    </div>

    <div class="nav-container">
        <div class="item-area container-fluid">
            <div class="item row">
                <a href="my_address">
                    <div class="col-xs-1">
                    <img src="__STATIC__/img/Service/address.png" alt=""/>
                </div>
                <div class="col-xs-9">
                    我的地址
                </div>
                <div class="col-xs-1"><img src="__STATIC__/img/Service/iconfont-more.png" alt=""/></div>
                </a>

            </div>
            <div class="divider"></div>
            <div class="item row">
                <a href="my_coupon">
                    <div class="col-xs-1">
                    <img src="__STATIC__/img/Service/coupon.png" alt=""/>
                </div>
                <div class="col-xs-9">
                    我的优惠
                </div>
                <div class="col-xs-1"><img src="__STATIC__/img/Service/iconfont-more.png" alt=""/></div>
                </a>

            </div>
        </div>

        <div class="item-area container-fluid">
            <div class="item row">
                <a href="my_appointment">
                    <div class="col-xs-1">
                    <img src="__STATIC__/img/Service/appointment.png" alt=""/>
                </div>
                <div class="col-xs-9">
                    我的预约
                </div>
                <div class="col-xs-1"><img src="__STATIC__/img/Service/iconfont-more.png" alt=""/></div>
                </a>

            </div>
            <div class="divider"></div>
            <div class="item row">
                <a href="new_my_service">
                    <div class="col-xs-1">
                    <img src="__STATIC__/img/Service/service.png" alt=""/>
                </div>
                <div class="col-xs-9">
                    我的服务
                </div>
                <div class="col-xs-1"><img src="__STATIC__/img/Service/iconfont-more.png" alt=""/></div>
                </a>

            </div>
        </div>

        <div class="item-area container-fluid">
            <div class="item row">
                <a href="advice">
                    <div class="col-xs-1">
                    <img src="__STATIC__/img/Service/advice.png" alt=""/>
                </div>
                <div class="col-xs-9">
                    吐槽建议
                </div>
                <div class="col-xs-1"><img src="__STATIC__/img/Service/iconfont-more.png" alt=""/></div>
                </a>

            </div>

        </div>
    </div>
    <include file="Public:bottom_nav" class4="active"/>
</body>
<script>
</script>
</html>