@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?x1taup');
  src: url('../fonts/icomoon.eot?#iefixx1taup') format('embedded-opentype'), url('../fonts/icomoon.ttf?x1taup') format('truetype'), url('../fonts/icomoon.woff?x1taup') format('woff'), url('../fonts/icomoon.svg?x1taup#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\20";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-heart:before {
  content: "\e600";
}
.icon-user2:before {
  content: "\e601";
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  margin: 0;
}
.test {
  color: #5dd486;
}
.center-align {
  text-align: center !important;
}
.header-shadow {
  -webkit-box-shadow: 0 0px 1px #a9a9a9;
  -moz-box-shadow: 0 0px 1px #a9a9a9;
  box-shadow: 0 0px 1px #a9a9a9;
  -ms-box-shadow: 0 0px 1px #a9a9a9;
  -o-box-shadow: 0 0px 1px #a9a9a9;
}
.tab-container {
  background-color: #ffffff;
}
.service-tab {
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  margin-top: 1.2rem;
  font-size: 1.8rem;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center !important;
}
.service-tab .tab {
  height: 2rem;
  padding-bottom: 2.5rem;
  vertical-align: middle;
}
.service-tab .active {
  color: #5dd486;
  border-bottom: solid 2px #5dd486;
}
.service-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #eeeeee;
}
.service-container .service-sub-container {
  padding-top: 2rem;
  min-height: 100%;
  width: 100%;
  display: none;
}
.service-container .service-sub-container .order-list {
  margin-top: .5rem;
  color: rgba(0, 0, 0, 0.7);
}
.service-container .service-sub-container .order-list .no-order {
  margin-top: .5rem;
  width: 100%;
  text-align: center !important;
}
.service-container .service-sub-container .order-list .order-li {
  background-color: #ffffff;
  line-height: 2rem;
  vertical-align: middle;
  -webkit-box-shadow: 0 4px 10px #a9a9a9;
  -moz-box-shadow: 0 4px 10px #a9a9a9;
  box-shadow: 0 4px 10px #a9a9a9;
  -ms-box-shadow: 0 4px 10px #a9a9a9;
  -o-box-shadow: 0 4px 10px #a9a9a9;
  padding: .5rem;
  margin-bottom: 1rem;
}
.service-container .service-sub-container .order-list .order-li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.service-container .service-sub-container .order-list .order-li .order-header {
  padding: 1rem 1rem;
  display: -webkit-box;
}
.service-container .service-sub-container .order-list .order-li .order-header .order-status {
  background: #5dd486;
  color: white;
  font-size: 2rem;
  padding: 0 .2rem;
  line-height: 2rem;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.service-container .service-sub-container .order-list .order-li .order-header .customer-name {
  padding-left: 2rem;
  color: #5dd486;
  font-size: 2rem;
}
.service-container .service-sub-container .order-list .order-li .order-start-time {
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.service-container .service-sub-container .follow-list {
  background-color: #ffffff;
}
.service-container .service-sub-container .follow-list .no-follow {
  background-color: #ffffff;
  padding-top: 2rem;
  text-align: center !important;
  line-height: 2rem;
  padding-bottom: 2rem;
}
.service-container .service-sub-container .follow-list .no-follow .btn a {
  color: rgba(255, 255, 255, 0.87);
}
.service-container .service-sub-container .follow-list a {
  text-decoration: none;
  display: block;
}
.service-container .service-sub-container .follow-list .item {
  margin-bottom: 1px;
  background-color: #ffffff;
  color: #5dd486;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.service-container .service-sub-container .follow-list .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.service-container .front {
  display: inherit;
}
.order-detail-container {
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  line-height: 2rem;
  padding: 2rem 2.5%;
}
.order-detail-container .teal {
  color: #5dd486;
}
.order-detail-container .order-detail {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #a9a9a9;
  -moz-box-shadow: 0 0 10px #a9a9a9;
  box-shadow: 0 0 10px #a9a9a9;
  -ms-box-shadow: 0 0 10px #a9a9a9;
  -o-box-shadow: 0 0 10px #a9a9a9;
  padding: 2rem 1rem;
}
.order-detail-container .order-detail .detail-area {
  padding-bottom: 2rem;
}
.order-detail-container .order-detail .detail-area .info-area {
  text-indent: 2rem;
}
.order-detail-container .order-payment-history {
  line-height: 2rem;
  vertical-align: middle;
}
.order-detail-container .order-payment-history .order-payment-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.order-detail-container .order-payment-history .order-payment-list .order-payment-no {
  color: #5dd486;
}
.order-detail-container .order-payment-history .order-payment-list .payment-info .item-value {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
}
.order-detail-container .order-payment-history .order-payment-list .payment-info .payment-status {
  color: #ff5724;
}
.order-detail-container .order-payment-history .order-payment-list .payment-info .payment-btn-item {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center !important;
}
.order-detail-container .order-payment-history .order-payment-list .payment-info .payment-btn-item .payment-btn {
  background-color: #ff5724;
  color: rgba(255, 255, 255, 0.87);
}
.order-detail-bottom {
  text-align: right;
  padding-right: 1rem ;
}
.order-detail-bottom .btn {
  margin-right: 1rem;
}
.title-grid {
  text-align: center !important;
  color: #5dd486;
  background-color: #ffffff;
}
.title-grid a {
  text-decoration: none;
  color: #5dd486;
}
.title-grid .left-column {
  width: 12.5%;
}
.title-grid .center-column {
  width: 75%;
}
.title-grid .right-column {
  width: 12.5%;
}
.bottom-var {
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px #a9a9a9;
  -moz-box-shadow: 0 0 2px #a9a9a9;
  box-shadow: 0 0 2px #a9a9a9;
  -ms-box-shadow: 0 0 2px #a9a9a9;
  -o-box-shadow: 0 0 2px #a9a9a9;
  text-align: center !important;
}
.bottom-var .active {
  color: #5dd486;
}
.bottom-var a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.bottom-var a:active {
  color: #5dd486;
}
.bottom-var .item:active {
  color: #5dd486;
}
.bottom-var .item div {
  padding-top: 0.2rem;
  font-size: 1rem;
}
.bottom-var .item .icon {
  font-size: 1.5rem;
}
.bottom-var .item .text {
  padding-bottom: 0.2rem;
}
.service-list {
  background-color: #eeeeee;
  padding-bottom: 5rem;
}
.service-list a img {
  width: 95%;
  margin-top: 1rem;
  margin-left: 2.5%;
  margin-right: auto;
  border: solid 1px #5dd486;
}
.user-info {
  width: 100%;
  background-color: #5dd486;
  color: rgba(255, 255, 255, 0.87);
}
.user-info img {
  width: 70% ;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-box-shadow: 0 0 25px #ffffff;
  -moz-box-shadow: 0 0 25px #ffffff;
  box-shadow: 0 0 25px #ffffff;
  -ms-box-shadow: 0 0 25px #ffffff;
  -o-box-shadow: 0 0 25px #ffffff;
}
.user-info .info-area {
  vertical-align: middle;
  height: 100%;
  padding-top: 1.2rem;
}
.user-info .info-area .name {
  font-size: 1.5rem;
}
.user-info .info-area .phone {
  font-size: 1.2rem;
}
.nav-container {
  background-color: #eeeeee;
  padding-top: 1px;
}
.nav-container .item-area {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
.nav-container .item-area .item {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-container .item-area .item a {
  color: rgba(0, 0, 0, 0.7);
}
.nav-container .item-area .item a:active {
  color: #5dd486;
}
.nav-container .item-area .item img {
  width: 2rem;
}
.nav-container .item-area .item .icon {
  color: rgba(0, 0, 0, 0.1);
}
.nav-container .item-area .divider {
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.divider {
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.user-info-contaner {
  color: rgba(0, 0, 0, 0.7);
}
.user-info-contaner .area {
  margin-top: 1.5rem;
  background-color: #ffffff;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-info-contaner .area .item {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-stretch: condensed;
  vertical-align: middle;
}
.user-info-contaner .area .item .user-icon-name {
  line-height: 3rem;
}
.user-info-contaner .area .item .more-user-icon {
  padding-top: 0.5rem;
}
.user-info-contaner .area .item .user-icon {
  width: 3rem;
}
.user-info-contaner .area .item .info {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 0;
  text-align: right!important;
}
.user-info-contaner .area .item .offcanvas-toggle {
  background-color: #ffffff;
}
.user-info-contaner .area .item .more-icon {
  width: 2rem;
}
.user-center-header {
  background-color: #ffffff;
  color: #5dd486;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.user-center-header a {
  color: #5dd486;
}
.user-center-header .back {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar-container {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}
.sidebar-container .canvas {
  margin-top: 2rem;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem;
}
.sidebar-container .btn-container {
  text-align: right;
  width: 100%;
  font-size: 2rem;
  padding: 2rem 2rem;
}
.sidebar-container .text-info {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.sidebar-container .phone-canvas {
  margin-top: 2rem;
  background-color: #ffffff;
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  width: 100%;
  font-size: 2rem;
  padding: 2rem 2rem;
}
.sidebar-container .phone-canvas input {
  border: 0;
  border-bottom: solid 1px #5dd486;
  width: 100%;
  display: block;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.sidebar-container .name-canvas {
  margin-top: 2rem;
  background-color: #ffffff;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  width: 100%;
  font-size: 2rem;
  padding: 2rem 2rem;
}
.sidebar-container .name-canvas input {
  border: 0;
  border-bottom: solid 1px #5dd486;
  width: 100%;
  display: block;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
.sidebar-container .name-canvas .text-info {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.sidebar-container .area-zone {
  margin-top: 2rem;
  width: 100%;
  line-height: 4rem;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ffffff;
}
.sidebar-container .area-zone .area-zone-selected {
  color: rgba(0, 0, 0, 0.5);
}
.sidebar-container .area-zone .offcanvas-toggle {
  background-color: #ffffff;
}
.sidebar-container .loading {
  text-align: center !important;
  margin-top: 3rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.sex-selection .sex-header {
  font-size: 2.5rem;
}
.sex-selection .sex-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.sex-selection .sex-item .icon-checkmark {
  color: #5dd486;
}
.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.babysitter-service-container {
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.babysitter-service-container .main-info-container {
  width: 100%;
  background-color: #ffffff;
}
.babysitter-service-container .main-info-container img {
  width: 100%;
}
.babysitter-service-container .main-info-container .service-appointment {
  width: 100%;
  background-color: #ffffff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.babysitter-service-container .main-info-container .service-appointment .row {
  line-height: 3rem !important;
  vertical-align: middle;
}
.babysitter-service-container .main-info-container .sercice-promise .border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.babysitter-service-container .main-info-container .sercice-promise .border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.babysitter-service-container .main-info-container .sercice-promise .promise-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.babysitter-service-container .main-info-container .sercice-promise .promise-item img {
  width: 3rem;
}
.babysitter-service-container .main-info-container .sercice-promise .promise-item .text-info {
  margin-top: 1rem;
}
.babysitter-service-container .introduce-info-container {
  margin-top: 1.2rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
}
.babysitter-service-container .introduce-info-container .introduce-item {
  margin-bottom: 1rem;
}
.babysitter-service-container .introduce-info-container .introduce-item ul {
  list-style-type: lower-hexadecimal;
  line-height: 2rem;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5);
}
.babysitter-service-container .introduce-info-container .introduce-item .collapse-header {
  color: #5dd486;
  padding-bottom: 1rem;
}
.right-align {
  text-align: right !important;
}
