
@import "_icon";
@primary_color:#5dd486;
@main-text-color:rgba(0, 0, 0, 0.7);
@second-text-color:rgba(0, 0, 0, 0.5);
@shadow-color:#A9A9A9;
@background-color:#EEEEEE;
@btn-color:rgba(255,255, 255, 0.87);
@btn-primary-color:#009688;
@border-color:rgba(0, 0, 0,0.1);
@status-color:hsl(14,100%,57%);
@light-blue:hsl(188,90%,51%);


body, html{
  width: 100%;
  height: 100%;
  background-color: @background-color;
  margin: 0;
  //  font-size: 15px;
}

.title-header{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.test {
  color:@primary_color;
}

.center-align{
  text-align: center !important;
}

.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: #000) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
  -ms-box-shadow: @arguments;
  -o-box-shadow: @arguments;
}


.header-shadow{
  .box-shadow(0, 0px, 1px, @shadow-color);
}

@padding-width:10%;
.padding-horizontal(@width:10%){
  padding-left: @width;
  padding-right: @width;
}
.tab-container{
  background-color: #ffffff;
}

.service-tab{
  @font-size:1.8rem;
  color: @main-text-color;
  background-color: #ffffff;
  margin-top: 1.2rem;
  padding-bottom: 1rem;
  //  padding-bottom:1.2rem;
  font-size: @font-size;
  .padding-horizontal();
  .center-align;

  .tab{
    height: 2rem;
    padding-bottom: 2.5rem;
    vertical-align: middle;
  }

  .active {
    color: @primary_color;
    border-bottom: solid 2px @primary_color;
  }
}


.service-container{
//  .padding-horizontal(.5rem);
  //  min-height:100%;
  background: @background-color;


  .service-sub-container{
    padding-top: 2rem;
//    min-height: 100%;
    width: 100%;
    display: none;
    .order-list{
//      margin-top: .5rem;
      color: @main-text-color;
      .no-order{
        margin-top: .5rem;
        width:100%;
        .center-align;
      }
      .order-li{
        padding-top: 1rem;
        padding-bottom:1rem;
        a{
          text-decoration: none;
          color:@second-text-color;
        }



        @name-font-size:2rem;
        background-color: #ffffff;
        line-height: 2rem;
        vertical-align: middle;
        .box-shadow(0, 4px, 10px, @shadow-color);
//        padding: .5rem;
        margin-bottom: 1rem;
        .order-header{
          padding: 1rem 1rem;
          display: -webkit-box;

          .order-status{
            @font-size:2rem;

            background: @primary_color;
            color:white;
            font-size: @font-size;
            padding: 0 .2rem;
            line-height: @name-font-size;
            vertical-align: middle;
            .rounded-corners(2px);
          }

          .customer-name{
            padding-left:2rem;

            color:@primary_color;
            font-size: @name-font-size;
          }


        }
        .order-start-time{
          padding-left: 1rem;
          color: @second-text-color;
        }

      }
    }

    .follow-list{
      .no-follow{
        background-color: #ffffff;
        padding-top: 2rem;
        .center-align;
        line-height: 2rem;
        padding-bottom: 2rem;
        .btn{
          a{
            color: rgba(255, 255 , 255, 0.87);
          }
        }
      }
      background-color: #ffffff;
      a{
        text-decoration: none;
        display: block;
      }
      @padding-width:1.5rem;
      .item{
        margin-bottom: 1px;
        background-color: #ffffff;
        color: @primary_color;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .padding-horizontal(@padding-width);
      }
      .divider{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//        margin-left: @padding-width;
//        margin-right: @padding-width;
      }
    }
  }

  .front{
    display: inherit;
  }


}

.order-detail-container {
  background-color: @background-color;
  color: @main-text-color;
  min-height: 100%;
  line-height: 2rem;
  padding: 2rem 2.5%;
  .teal{
    color: @primary_color;
  }
  .order-detail {
    background-color: #ffffff;
    .box-shadow(0, 0, 10px, @shadow-color);
    padding: 2rem 1rem;

    .detail-area{
      padding-bottom: 2rem;

      .info-area{
        text-indent: 2rem;
      }
    }

  }

  .order-payment-history{
    line-height: 2rem;
    vertical-align: middle;
    .order-payment-list{
      margin-top: 1rem;
      margin-bottom: 1rem;
      .order-payment-no{
        color:@primary_color;

      }


      .payment-info{
        .item-value{
          color:@main-text-color;
          text-align: right;

        }
        .payment-status{
          color: @status-color;
        }

        .payment-btn-item{
          margin-top: 2rem;
          margin-bottom: 1rem;
          .center-align;
          .payment-btn{
            background-color: @status-color;
            color: @btn-color;
          }
        }
      }
    }
  }
}

.order-detail-bottom{
  text-align: right;
  padding-right: 1rem ;

  .btn{
    margin-right: 1rem;
  }
}

.title-grid{
  .center-align;
  color: @primary_color;
  background-color: #ffffff;

  a{
    text-decoration: none;
    color:@primary_color;;
  }

  @unit-length:12.5%;

  .left-column{
    width: @unit-length;
  }
  .center-column{
    width:@unit-length * 6;
  }

  .right-column{
    width: @unit-length;
  }
}

.bottom-var{
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: .6rem;
  padding-bottom: .6rem;
  color:@second-text-color;
  .box-shadow(0, 0, 2px, @shadow-color);
  .center-align;
  .active{
    color: @primary_color;
  }
  a{
    text-decoration: none;
    color:@second-text-color;
    &:active{
      color:@primary_color;
    }
  }
  .item{
    &:active{
      color: @primary_color;
    }
    @padding-height: 0.2rem;
    div{
      padding-top: @padding-height;
      font-size: 1rem;
    }
    .icon{
      font-size: 1.5rem;
    }
    .text{
      padding-bottom: @padding-height;
    }
  }
}

.service-list{
  //  min-height: 100%;
  background-color: @background-color;
  padding-bottom: 5rem;
  a{
    img{
      @img-width:95%;
      width: @img-width;
      margin-top: 1rem;
      margin-left: (100%-@img-width) /2;
      margin-right: auto;
      border:solid 1px @primary_color;
    }
  }
}

.user-info{
  width: 100%;
  background-color: @primary_color;
  color:rgba(255, 255, 255, 0.87);
  img{
    width:70% ;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    .box-shadow(0, 0, 25px, rgba(255, 255, 255,1));
  }

  .info-area{
    vertical-align: middle;
    height: 100%;
    padding-top: 1.2rem;
    div{

    }
    .name{
      font-size: 1.5rem;
    }
    .phone{
      font-size: 1.2rem;
    }
  }
}

.nav-container{
  background-color: @background-color;
  //  min-height: 100%;
  padding-top: 1px;

  .item-area{

    border-top: 1px solid @border-color;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    color: @main-text-color;

    .item{
      font-size: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      a{
        color:@main-text-color;
        &:active{
          color: @primary_color;
        }
      }
      img{
        width: 2rem;
      }
      .icon{
        color: @border-color;
      }
    }
    .divider{
      height: 0;
      border-bottom: 1px solid @border-color;
      width: 100%;
    }
  }
}

.divider{
  height: 0;
  border-bottom: 1px solid @border-color;
  width: 100%;
}

.user-info-contaner{
  color:@main-text-color;
  .area{
    margin-top: 1.5rem;
    background-color: #ffffff;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    .item{
      @font-size:1.5rem;
      padding-left: 1rem;
      padding-top: 2*@font-size/3;
      padding-bottom: 2*@font-size/3;
      font-size: @font-size;
      font-stretch: condensed;
      vertical-align: middle;
      .user-icon-name{
        line-height: 2*@font-size ;
      }
      .more-user-icon{
        padding-top: @font-size/3;
      }
      .user-icon{
        width: 2*@font-size;
      }
      .info{
        font-size: 1.5rem;
        color: @second-text-color;
        padding-right: 0;
        text-align: right!important;
      }
      .offcanvas-toggle{
        background-color: #ffffff;
      }
      .more-icon{
        width: 2rem;
      }
    }
  }
}

.user-center-header{
  background-color: #ffffff;
  color:@primary_color;
  padding-top: 1rem;
  padding-bottom:1rem;
  font-size: 2rem;
  a{
    color: @primary_color;
  }
  .back{
    border-right: 1px solid @border-color;
  }
}

.sidebar-container{
  background-color: @background-color;
  width:100%;
  height: 100%;
  .canvas{
    margin-top: 2rem;
    background-color: #ffffff;
    //    min-height: 50%;
    color: @second-text-color;
    padding: 2rem 2rem;
  }

  .btn-container{
    text-align: right;
    width: 100%;
    font-size: 2rem;
    padding: 2rem 2rem;
  }
  .text-info{
    text-align: left;
    font-size: 1rem;

    margin-top: 1rem;
    color: @second-text-color;
  }

  .phone-canvas{
    .canvas;
    .text-info;
    input{
      border:0;
      border-bottom: solid 1px @primary_color;
      width: 100%;
      display: block;
      font-size: 1.5rem;
      color: @main-text-color;
    }
    .btn-container;
  }
  .name-canvas{
    .canvas;
    .text-info;
    input{
      border:0;

      border-bottom: solid 1px @primary_color;
      width: 100%;
      display: block;
      font-size: 2rem;
      color: @main-text-color;
    }
    .text-info{
      margin-top: 1rem;
      color: @second-text-color;
    }

    .btn-container;
  }

  .area-zone{
    @font-size : 2rem;
    margin-top: 2rem;
    width: 100%;
    line-height: 2 * @font-size;
    vertical-align: middle;
    color: @main-text-color;
    padding-left: @font-size;
    padding-right: @font-size;
    background-color: #ffffff;

    .area-zone-selected{
      color: @second-text-color;
    }

    .offcanvas-toggle{
      background-color: #ffffff;
    }

  }
  .loading{
    .center-align;
    margin-top: 3rem;
    font-size: 2rem;
    color: @second-text-color;

  }
}

.sex-selection{
  .sex-header{
    font-size: 2.5rem;
  }
  .sex-item{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    .icon-checkmark{
      color: @primary_color;
    }
  }
}
.modal-content{
  .rounded-corners(0px);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.babysitter-service-container{

  width: 100%;
  color:@main-text-color;
  .main-info-container{
    width: 100%;
    background-color: #ffffff;
    img{
      width:100%;
    }
    .service-appointment{
      width: 100%;
      background-color: #ffffff;
      padding-top:.5rem;
      padding-bottom:.5rem;
      z-index: 2;
      //      border-top: solid 1px @border-color;
      border-bottom: solid 1px @border-color;
      .service-name{
        font-size: 1.5rem;
        color:@primary_color;
        padding-left: 2rem;
      }
      .row{
        line-height: 3rem !important;
        vertical-align: middle;
      }
      .btn-appointment{
        background-color: #ff5722;
        color: rgba(255, 255, 255, 0.87);
      }
    }


    .sercice-promise{
      //margin:1rem 2rem;
      .border-left{
        border-left:1px solid @border-color;
      }
      .border-right{
        border-right:1px solid @border-color;
      }
      .promise-item{
        margin-top: 1rem;
        margin-bottom: 1rem;
        img{
          width: 3rem;
        }
        .text-info{
          color: @light-blue;
          margin-top: 1rem;
        }
      }


    }



  }

  .introduce-info-container{
    margin-top: 1.2rem;
    margin-left:2.5%;
    margin-right:2.5%;
    padding: 1.5rem 2rem;
    background-color: #ffffff;

    .service-step{
      .row{
        margin-bottom: 1rem;
        .time{
          color: @light-blue;
        }
      }
    }

    .introduce-item{
      margin-bottom: 1rem;
      ul{
        list-style-type: lower-hexadecimal;
        line-height: 2rem;
        vertical-align: middle;
        color:@second-text-color;
      }
      .collapse-header{
        color: @primary_color;
        padding-bottom: 1rem;

      }
    }
  }
}

.right-align{

  text-align: right !important;
}

.worker-info-container{
  with:100%;
  @text-font-size:1.5rem;
  .info-block{
    margin-bottom: .8rem;
    background-color: #ffffff;
    width: 100%;
    padding:2rem 1rem;
  }

  .info-title{
    color:@primary_color;
    font-size: @text-font-size;
    .icon{
      font-size:2rem;
      margin-right: .5rem;
    }
  }
  .info-list{
    padding-left:2rem;
    padding-right:2rem;
    font-size: @text-font-size;
    .row{
      line-height: 3rem;
      vertical-align: middle;
      color:@second-text-color;
    }
  }

  .head-info{
    background-color: @primary_color;
    padding-top: .5rem;
    padding-bottom: .5rem;
    .row{
      margin:0;
    }
    img{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .worker-name{
      padding-top: .5rem;
      font-size: @text-font-size;
      color: #ffffff;
    }
    .raty{
      font-size: @text-font-size;
      color:#FFF100;
    }
  }

  .customer-rate{
    .load-more{
      text-align: center;
//      background-color: rgba(0, 0, 0, 0.01);
      .btn{
        background-color: rgba(0,0, 0, 0.03);
        font-size: @text-font-size;
        color:@primary_color;
      }
    }
    .comment-star-area{
      padding:1rem 1rem;
      .comment-star-list{
        line-height: 2rem;
        vertical-align: middle;
        font-size: @text-font-size;
        display: inline-flex;

        .comment-name{
          color:@primary_color;
          margin-right: 1rem;
        }
        .star{
          color:@primary_color;
          font-size: @text-font-size - .5rem;
        }
        .comment-note{
          color:@second-text-color;
        }
      }
    }
    .comment-list{

      .comment-star-area{
        padding:1rem 1rem;
        .comment-star-list{
          line-height: 2rem;
          vertical-align: middle;
          font-size: @text-font-size;
          display: inline-flex;

          .comment-name{
            color:@primary_color;
            margin-right: 1rem;
          }
          .star{
            color:@primary_color;
            font-size: @text-font-size - .5rem;
          }
          .comment-note{
            color:@second-text-color;
          }
        }
      }

      .comment-area{
        font-size: @text-font-size;
        padding:1rem;
        color:@second-text-color;
        line-height: 2rem;
        vertical-align:middle;

        .comment{
//          text-indent:1rem;
          font-size:@text-font-size;
        }
        .comment-star-info{
          display: inline-flex;
          color:@primary_color;
          //text-indent:2rem;
          .star{
            font-size:@text-font-size - .5rem;
          }
        }


      }
    }
  }
}

.home-page{
  color: @main-text-color;
  .introduce-image{
    width: 100%;
    img{
      width:100%;
    }
  }
  a{
    color:@main-text-color;
  }
  @main-font-size:2rem;
  @second-font-size:1rem;

  .service-phone{
    font-size: @main-font-size;
    font-stretch: condensed;
    text-align:center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .service-phone-img{
      img{
        width: @main-font-size;
      }
      margin-right: 1rem;
      margin-left: 1rem;

    }

  }

  .service-area{
    background-color: #ffffff;
    .service-item{
//      padding:1rem 30%;
      padding-bottom: 2rem;

      .service-item-tab{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @inner-width:.5rem;
        background-color: @primary_color;
        width: 2*@main-font-size;
        height: 2*@main-font-size;

        padding-left: @inner-width;
        padding-top: @inner-width;
        img{
          width: 2*@main-font-size - 2*@inner-width;
        }
      }
      .customer-service{
        background-color: #ff5722;
      }
      .text{
        text-align: center;
        font-size: @main-font-size *2/ 3;
        width:100%;
      }
    }
  }

  .info-item{
    background-color: #ffffff;
    padding-top:1rem;
    padding-bottom: 1rem;
    margin-top: .4rem;
    @basic-font-size : 1rem;
    img{
      width: 2.5*@basic-font-size;
    }
    .item-title{
      font-size: 1.5 * @basic-font-size;
    }
    .item-intro{
      font-size: @basic-font-size;
      color:@second-text-color;

    }
    .icon-img{
      line-height: 2.5*@basic-font-size;
      vertical-align: middle;
    }
    .icon-next{
      line-height: 2.5*@basic-font-size;
      color: @second-text-color;
      vertical-align: middle;
    }
  }

}

.health-management{
  .info-container{
    margin-top: .5rem;
    background-color: #ffffff;

  }
}

.user-info-edit{
  .sidebar{
    width:100%;
  }
}