html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    clear: both;
}
ul{
    clear: both;
}
.nav{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background-color: rgba(29,193,161,0.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
}



.footer{
    right: 0;
    bottom: 0;
    left: 0;
    height: 36px;
    background: #EFEFEF;
    border-top: 1px solid #CCC;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position:fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}

.items .item .description{
    text-align: left;
}

.server-type{
    max-width: 600px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    marging-top:30px;
}

.detail-header{
    color: rgba(64, 185, 172, 1);
    background-color:#fff;
    font-size: 36px;
    vertical-align: middle;
    height: 56px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0, 0, 0.1);
    -mox-box-shadow: 0 2px 2px rgba(0,0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0,0, 0, 0.1);
    -o-box-shadow: 0 2px 2px rgba(0,0, 0, 0.1);
}

.section{
    max-width: 600px;
    margin:auto;
    margin-top:20px;
}

.detail-header .item{
    width: 100%;
    text-align: center !important;
    font-size: x-large;
    font-stretch: condensed;
}

.detail-header .grid{
    margin: 0 !important;
}

.detail-image{
    width:100%
}



.detail-footer{
    background-color: #f5f5f5;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    /*margin-bottom: 40px;*/
}

.footer-nav{
    z-index: 999;
    background-color: #F5F5F5;
    vertical-align: middle;
    position:fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.appointment-body{
    background-color: #F5F5F5;
    color:rgba(0, 0, 0,  0.5);
}

.appointment-content{
    max-width: 600px;
    margin:auto;
    padding-bottom: 120px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.appointment-content .ui.segment{
    border-radius: 0 !important;
}

.appointment-type{
    background-color: #fff;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2em;
    vertical-align: middle;
}

.appointment-type-header{
    display: inline-flex;
}

.appointment-type-price{
    text-align:right !important;
}

.right-align{
    text-align: right !important;
}

.appointment-address-time{
    background-color: #fff;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2em;
    vertical-align: middle;
}

.center-align{
    text-align: center !important;
}

.warning-input{
    border-color:rgba(212, 90, 90, 1) !important;
}

.nurse-body{
    background-color: #F5F5F5;
}

.nurse-nav{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 5%;
    position: fixed;
    top:40px;
}

.nurse-nav .ui.label{
    margin: .25em .25em !important;
}

.nurse-detail{
    width: 90%;
    margin: auto;
}

.nurse-list{
    /*margin-top: 70px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    max-width: 600px;

}

.fixed-position{
    position:fixed;
}

.top-z-index{
    z-index: 9999;
}

.yellow-plus-item{
    /*content: '+';*/
    color: #ff7f01;
}

.red-plus-item{
    color: #D95C5C;
}

.teal-plus-item{
    color:#00B5AD;
}

.green-plus-item{
    color:#A1CF64;
}


.babysitter-body{
    background-color: #F5F5F5;
    margin: 0;
}

.babysitter-image{
    width: 100%;
}
.babysitter-image img{
    width: 100%;
}

.babysitter-content{
    max-width: 600px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;

}

.centered{
    margin: auto;
}

.service-content{
    margin: 20px 10%;
}

.service-content .header{
    magin-left:-2em !important;
}

.login-form{
    width: 80%;
    max-width: 600px;
    margin:auto;
    margin-top:50px;
}

.login-form .form{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.my-appointment-container{
    min-height: 1000px;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    width:90%;
    color:rgba(0, 0, 0, 0.7);
}

.appointment-tab{
    border-radius: 4px;
    padding:20px 15px;
    margin-bottom: 30px;
    color:rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.appointment-address{
    padding:10px 2em;
}

.user-center{
    max-width: 600px;
    width:90%;
    margin:auto;
    color:rgba(0, 0, 0, 0.7);
    padding-top:2rem;
}

.user-info{
    text-indent: 2rem;
}

.introduction{
    max-width: 600px;
    width: 90%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 70px;
    color:rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.introduction img{
    width:100%;
}

.introduction-content{
    padding-left: 2rem;
    padding-right: 2rem;
    text-indent: 2rem;
    line-height: 1.8rem;
    padding-bottom: 3rem;
}

.head-area{
    text-align: center!important;
    color:rgba(0, 0, 0, 0.5)
}

.user-center-info-container{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.user-center-info-list{
}

.user-center-info-list:active, .user-center-info-list:hover{
    color:#40B9AC;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.user-center-info-container a{
    color:rgba(0, 0, 0, 0.5);
}

.user-head-image{
    min-height: 50px;
    min-width: 50px;
}

.edit-erea-list{
    margin-top:10px;
    margin-bottom:10px;
}

.address-container{

    margin-top:2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    max-width: 600px;
    min-height: 100%;
    /*background-color: #fff;*/
}

.address-body{
    height: 1000px;
    background-color: #F4F6F8;
    color: rgba(0, 0, 0, 0.7);
}

.address-item{
    margin-bottom: 1rem;
    width: 100%;
}

.add-address{
    margin: auto;
    text-align: center;
}

.add-address-area{
    margin-top: 3rem;
    text-align: left;
    color:rgba(0, 0, 0, 0.7);
}

.loading-container{
    /*max-width: 600px;*/
    text-align: center !important;
    font-size: 3rem;
    margin-top: 5rem;
}

.no-coupon, .no-follow{
    max-width: 600px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
    text-align: center !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.coupon-list, .follow-list{
    max-width: 600px;
    width:85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}


.adivce, .advice_success{
    width: 85%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.advice_success{
    text-align: center !important;
}

.address-form{
    padding: 10%;

}


.order-header-nav{
    display: inline-flex;
    text-align: center;
    width:100%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.25rem;
    color: #40B9AC;
    /*border-bottom: solid 1px rgba(0, 0, 0, 0.1);*/
}

.order-header-nav .conner{
    width: 15%;
}

.order-header-nav a{
    text-decoration: none;
    color: #40B9AC;
}

.order-header-nav .order-title{
    width: 70%;
}

.order-detail{
    margin-top: 2rem;
    color:rgba(0, 0, 0, 0.7);
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
    text-indent: 2rem;
    padding-bottom: 4rem;
}

.order-detail .customer-info, .order-detail .order-info{
    font-size: 1.2rem;
}
.order-detail .info-area{
    text-indent: 4rem;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.info-area .info-line{
    line-height: 1.5rem;
    vertical-align: middle;
}

.my-follow-order-container, .order-detail-container{
    max-width: 500px;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}


.orders-panel{
    margin-top: 1rem;
}

.orders-panel a{
    text-decoration: none;
}

.orders-panel .order-list{
    padding-left: 1rem;
    padding-right: 1rem;
}

.orders-panel .order-list .order-list-uppper{
}



.customer-name{
    vertical-align: middle;
    color: #40B9AC;
}

.order-state{
    color: rgba(0, 0, 0, 0.3);
    text-align: right !important;
}

.orders-panel .order-list .order-list-lower{
    text-align: right;
  }

.order-list-lower{
    color:rgba(0, 0, 0, 0.3);
    vertical-align: middle !important;
}

.order-angle{
    vertical-align: text-bottom !important;
    text-align: right;
}

.no-order{
    text-align: center;
    color:rgba(0, 0, 0, 0.3);
    font-size: larger;
    margin-top: 2rem;

}

.bind-phone{
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}