<body>
<include file="Public:title_header" href="new_service_info" title="月嫂服务"/>

<div class="babysitter-service-container">
    <!--//顶部介绍信息，包括服务介绍图片、预约服务按钮、质量保证显示区-->
    <div class="main-info-container">
        <img src="__STATIC__/img/Service/babysitter.png" alt="">
        <!--//服务预约按钮-->
        <div class="service-appointment container-fluid">
            <div class="row">
                <div class="col-xs-6 service-name">月嫂服务</div>
                <div class="col-xs-6 right-align">
                    <div class="btn btn-appointment">立即预约</div>
                </div>
            </div>
        </div>

        <!--//质量保证显示区-->
        <div class="sercice-promise container-fluid">
            <div class="row">
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/authority.png" alt="">
                    <div class="text-info">平台认证</div>
                </div>
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/quantity.png" alt="">
                    <div class="text-info">品质保障</div>
                </div>
                <div class="promise-item col-xs-4 center-align">
                    <img src="__STATIC__/img/Service/security.png" alt="">
                    <div class="text-info">安全保障</div>
                </div>
            </div>
        </div>
    </div>

    <!--//介绍信息，包括服务介绍服务内容、价格范围-->
    <div class="introduce-info-container">
        <!--服务内容-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10">
                                服务内容
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_less" id="content-expand-icon"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content" class="collapse in "  aria-labelledby="headingOne" connect-icon="#content-expand-icon">
                <div class="collapse-container">
                    <ul>
                        <li>产褥期的观察护理、会阴擦洗</li>
                        <li>乳房按摩、乳房护理</li>
                        <li>产妇母乳喂养的指导、协助</li>
                        <li>产后形体恢复指导</li>
                        <li>孕期、产后抑郁的心理疏导及情感陪护</li>
                        <li>孕、产妇营养餐的指导、搭配及制作等</li>
                        <li>新生儿的观察、护理及疾病预防</li>
                        <li>婴儿喂养及早期教育协助与指导</li>
                        <li>婴儿操、婴儿洗浴、触抚、新生儿按摩</li>
                        <li>指导孕产妇、婴幼儿相关工作的协助等</li>
                    </ul>

                </div>
            </div>
        </div>
        <!--服务流程-->
            <div class="service-step introduce-item" id="headingOne1">
                <h4 >
                        <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#introduce" aria-expanded="true" aria-controls="collapseOne">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-10">
                                        服务流程
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="icon icon-expand_more" id="introduce-expand-icon"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                </h4>
                <div id="introduce" class="collapse"  aria-labelledby="headingOne" connect-icon="#introduce-expand-icon">
                    <div class="collapse-container container-fluid">
                        <div class="row">
                            <div class="col-xs-3 time">06:00</div>
                            <div class="col-xs-9">月嫂起床洗簌、准备早餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">06:45</div>
                            <div class="col-xs-9">给产妇、宝宝测体温、换尿布、洗脸、产妇起床、洗簌、吃早餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">08:00</div>
                            <div class="col-xs-9">指导产妇喂奶、拍隔</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">08:30</div>
                            <div class="col-xs-9">收拾房间、开窗换新鲜空气、安排乳房护理、清洗伤口、检查子宫复位恢复情况、观察恶露及气味</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">09:30</div>
                            <div class="col-xs-9">准备10点钟的加餐和中午营养汤</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">10:00</div>
                            <div class="col-xs-9">指导哺乳、拍隔、换尿片、产妇加餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">11:30</div>
                            <div class="col-xs-9">准备午餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">12:00</div>
                            <div class="col-xs-9">中餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">12:30</div>
                            <div class="col-xs-9">产妇午休</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">13:30</div>
                            <div class="col-xs-9">指导产妇喂奶、拍隔、换尿片</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">15:00</div>
                            <div class="col-xs-9">准备加餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">15:30</div>
                            <div class="col-xs-9">产妇加餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">16:00</div>
                            <div class="col-xs-9">给宝宝洗澡、潜能开发、洗衣服、尿布和产妇换洗的衣服</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">16:30</div>
                            <div class="col-xs-9">宝宝哺乳、拍隔、换尿片</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">17:00</div>
                            <div class="col-xs-9">准备晚餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">18:00</div>
                            <div class="col-xs-9">晚餐后指导产妇喂奶、拍隔、晚上给产妇乳房护理</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">20:30</div>
                            <div class="col-xs-9">准备晚上加餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">21:00</div>
                            <div class="col-xs-9">产妇加餐</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">21:30</div>
                            <div class="col-xs-9">清洗产妇侧切伤口、帮助产妇泡脚、准备让产妇洗簌休息</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">21:40</div>
                            <div class="col-xs-9">指导产妇喂奶、拍隔、宝宝大便、洗屁屁、换尿片</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">22:00</div>
                            <div class="col-xs-9">清洗宝宝的衣服和尿片</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">00:30</div>
                            <div class="col-xs-9">指导产妇哺乳、拍隔、换尿布</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">03:00</div>
                            <div class="col-xs-9">宝宝大小便、换尿布、哺乳、拍隔</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 time">05:30</div>
                            <div class="col-xs-9">宝宝换尿片、洗屁屁、哺乳、拍隔</div>
                        </div>


                    </div>
                </div>
            </div>

        <!--价格范围-->
        <div class="service-price introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#price" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10">
                                价格范围
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="price-expand-icon"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="price" class="collapse "  aria-labelledby="headingOne" connect-icon="#price-expand-icon">
                <div class="collapse-container">
                    4800-21600 元
                </div>
            </div>
        </div>
    </div>

    <!--//底部介绍信息-->
    <div class="info-footer"></div>


</div>

</body>
<script type="application/javascript" src="__STATIC__/js/stickUp.min.js"></script>
<script type="application/javascript" src="__STATIC__/js/bootstrap.min.js"></script>

<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            //服务预约置顶
            $('.service-appointment').stickUp();


        });
    });

    $('.collapse').on('hidden.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_less').addClass('icon-expand_more');
    })
    $('.collapse').on('shown.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_more').addClass('icon-expand_less');
    })

</script>

</html>