<body>
<include file="Public:title_header" href="new_service_info" title="居家照护"/>

<div class="babysitter-service-container">
    <!--//顶部介绍信息，包括服务介绍图片、预约服务按钮、质量保证显示区-->
    <div class="main-info-container">
        <img src="__STATIC__/img/Service/hospital_care.png" alt="">
        <!--//服务预约按钮-->
        <div class="service-appointment container-fluid">
            <div class="row">
                <div class="col-xs-6 service-name">居家照护</div>
                <div class="col-xs-6 right-align">
                    <a href="new_appointment?service_type=1">
                        <div class="btn btn-appointment">立即预约</div>
                    </a>

                </div>
            </div>
        </div>

        <!--//质量保证显示区-->
        <div class="sercice-promise container-fluid">
            <div class="row">
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/authority.png" alt="">
                    <div class="text-info">平台认证</div>
                </div>
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/quantity.png" alt="">
                    <div class="text-info">品质保障</div>
                </div>
                <div class="promise-item col-xs-4 center-align">
                    <img src="__STATIC__/img/Service/security.png" alt="">
                    <div class="text-info">安全保障</div>
                </div>
            </div>
        </div>
    </div>

    <!--//介绍信息，包括服务介绍服务内容、价格范围-->
    <div class="introduce-info-container">
        <!--四级照护-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">四级照护/全自理</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_less" id="content-expand-icon"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content" class="collapse in "  aria-labelledby="headingOne" connect-icon="#content-expand-icon">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">分级标准</div>
                        <ul>
                            <li>无急性病,慢性病稳定期</li>
                            <li>生活轻度依赖照顾着（能自行进食、处理大小便）</li>
                            <li>无精神心理问题或思维障碍</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">服务内容</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        及时了解被照护者的身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        陪同被照护这进行康复娱乐活动
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">护士长探访</div>
                        <div class="info-item">
                            每月探访1-2次
                        </div>

                    </div>
                    <div class="content-container">
                        <div class="item-title">服务价格（元/）（具体依照评估情况确定）</div>
                        <div class="info-item">
                            3200-3500
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content1" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">三级照护/轻度依赖</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon1"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content1" class="collapse"  aria-labelledby="headingOne" connect-icon="#content-expand-icon1">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">分级标准</div>
                        <ul>
                            <li>无急性病,慢性病稳定期</li>
                            <li>生活轻度依赖照顾着（能自行进食、处理大小便）</li>
                            <li>无精神心理问题或思维障碍</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">服务内容</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        及时了解被照护者的身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        陪同被照护这进行康复娱乐活动
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助洗澡，根据气温高低，每天或隔天一次
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">护士长探访</div>
                        <div class="info-item">
                            每月探访2-3次
                        </div>

                    </div>
                    <div class="content-container">
                        <div class="item-title">服务价格（元/）（具体依照评估情况确定）</div>
                        <div class="info-item">
                            3600-4000
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content2" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">二级照护/重度依赖</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon2"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content2" class="collapse  "  aria-labelledby="headingOne" connect-icon="#content-expand-icon2">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">分级标准</div>
                        <ul>
                            <li>慢性病患，病情稳定</li>
                            <li>生活中度依赖照顾者（能控制大小便，偶有失禁）</li>
                            <li>无精神症状或攻击行为</li>
                            <li>需要督促、指导服药</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">服务内容</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        及时了解被照护者的身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        陪同被照护这进行康复娱乐活动
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助洗澡，根据气温高低，每天或隔天一次
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-qingxi.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        每天为被照护者清洗餐具、水杯、毛巾等日用品
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/laoren.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助被照护者穿脱衣物，搀扶行动不便者如厕，防止摔倒
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">护士长探访</div>
                        <div class="info-item">
                            每月探访3-5次
                        </div>

                    </div>
                    <div class="content-container">
                        <div class="item-title">服务价格（元/）（具体依照评估情况确定）</div>
                        <div class="info-item">
                            4100-4500
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content3" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">一级照护/重度依赖</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon3"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content3" class="collapse  "  aria-labelledby="headingOne" connect-icon="#content-expand-icon3">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">分级标准</div>
                        <ul>
                            <li>年老体弱，慢性病患，肢体活动功能障碍</li>
                            <li>生活重度依赖他人照顾(大小便失禁)</li>
                            <li>无精神症状与攻击行为</li>
                            <li>需要管理药物</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">服务内容</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        及时了解被照护者的身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        陪同被照护这进行康复娱乐活动
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助洗澡，根据气温高低，每天或隔天一次
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-qingxi.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        每天为被照护者清洗餐具、水杯、毛巾等日用品
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/laoren.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助被照护者穿脱衣物，搀扶行动不便者如厕，防止摔倒
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/jiankanghuli.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        为卧床被照护者做好晨、晚间护理、口腔护理，定时翻身，检查皮肤受压的情况，预防褥疮等并发症发生
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/shenghuofuwu2.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助床上大小便，为大小便失禁的被照护者做到勤查看、勤换洗、勤翻身、及时更换衣被，保持被照护者身体及床单位清洁、干燥、无异味
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/shenghuofuwu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        供应饭菜、茶水到被照护者床边；按时协助被照护者进食、饮水、零食、服药，餐后及时为被照护者清洁整理
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/ProtectionSer.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        对易发生坠床意外者由家属提供床栏、座椅加绳托等安全保护具，确保安全，避免发生意外事故
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-xinli.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        做好心理照护和卫生宣教工作，推轮椅园内散步
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">护士长探访</div>
                        <div class="info-item">
                            每月探访3-4次
                        </div>

                    </div>
                    <div class="content-container">
                        <div class="item-title">服务价格（元/）（具体依照评估情况确定）</div>
                        <div class="info-item">
                            4600-5000
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content4" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">特级照护/完全依赖</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon4"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content4" class="collapse  "  aria-labelledby="headingOne" connect-icon="#content-expand-icon4">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">分级标准</div>
                        <ul>
                            <li>慢性病后期，躯体活动功能障碍</li>
                            <li>生活完全依赖他人照顾者</li>
                            <li>无精神障碍与攻击行为</li>
                            <li>需要管理药物</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">服务内容</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        及时了解被照护者的身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        陪同被照护这进行康复娱乐活动
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助洗澡，根据气温高低，每天或隔天一次
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-qingxi.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        每天为被照护者清洗餐具、水杯、毛巾等日用品
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/laoren.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助被照护者穿脱衣物，搀扶行动不便者如厕，防止摔倒
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/jiankanghuli.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        为卧床被照护者做好晨、晚间护理、口腔护理，定时翻身，检查皮肤受压的情况，预防褥疮等并发症发生
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/shenghuofuwu2.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助床上大小便，为大小便失禁的被照护者做到勤查看、勤换洗、勤翻身、及时更换衣被，保持被照护者身体及床单位清洁、干燥、无异味
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/shenghuofuwu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        供应饭菜、茶水到被照护者床边；按时协助被照护者进食、饮水、零食、服药，餐后及时为被照护者清洁整理
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/ProtectionSer.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        对易发生坠床意外者由家属提供床栏、座椅加绳托等安全保护具，确保安全，避免发生意外事故
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-xinli.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        做好心理照护和卫生宣教工作，推轮椅园内散步
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-jihua.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        落实好每日生活安排计划，做好心理照护和卫生宣教工作
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-chakanbaogao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        照护人员严密观察被照护者情况变化，有情况随时向家属、公司管理人员报告
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">护士长探访</div>
                        <div class="info-item">
                            每月探访5-8次
                        </div>

                    </div>
                    <div class="content-container">
                        <div class="item-title">服务价格（元/）（具体依照评估情况确定）</div>
                        <div class="info-item">
                            5100-6000
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <!--//底部介绍信息-->
    <div class="info-footer"></div>


</div>

</body>
<script type="application/javascript" src="__STATIC__/js/stickUp.min.js"></script>
<script type="application/javascript" src="__STATIC__/js/bootstrap.min.js"></script>

<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            //服务预约置顶
            $('.service-appointment').stickUp();


        });
    });

    $('.collapse').on('hidden.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_less').addClass('icon-expand_more');
    })
    $('.collapse').on('shown.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_more').addClass('icon-expand_less');
    })

</script>

</html>