<body>
<include file="Public:title_header" href="new_service_info" title="康复护理"/>

<div class="babysitter-service-container">
    <!--//顶部介绍信息，包括服务介绍图片、预约服务按钮、质量保证显示区-->
    <div class="main-info-container">
        <img src="__STATIC__/img/Service/home_care.jpg" alt="">
        <!--//服务预约按钮-->
        <div class="service-appointment container-fluid">
            <div class="row">
                <div class="col-xs-6 service-name">康复护理</div>
                <div class="col-xs-6 right-align">
                    <a href="new_appointment?service_type=5">
                        <div class="btn btn-appointment">立即预约</div>
                    </a>

                </div>
            </div>
        </div>

        <!--//质量保证显示区-->
        <div class="sercice-promise container-fluid">
            <div class="row">
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/authority.png" alt="">
                    <div class="text-info">平台认证</div>
                </div>
                <div class="promise-item col-xs-4 border-right center-align">
                    <img src="__STATIC__/img/Service/quantity.png" alt="">
                    <div class="text-info">品质保障</div>
                </div>
                <div class="promise-item col-xs-4 center-align">
                    <img src="__STATIC__/img/Service/security.png" alt="">
                    <div class="text-info">安全保障</div>
                </div>
            </div>
        </div>
    </div>

    <!--//介绍信息，包括服务介绍服务内容、价格范围-->
    <div class="introduce-info-container">
        <!--一级照护-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">脑卒中康复护理</div>
                                <div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_less" id="content-expand-icon"></span>
                            </div>
                            <div class="col-xs-11">
                                <p style="margin-top: 24px;margin-left: 24px;color: rgba(0, 0, 0, 0.5);line-height: 1.6em;">及时给予准确的康复训练对中风患者恢复生活自理是非常重要的，很多中风患者的家属错误的认为康复治疗要等到发病后一个月或三月才能进行。其实不论的脑出血还是脑梗塞病人，只要病情平稳后，康复训练即可开始。</p>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content" class="collapse in "  aria-labelledby="headingOne" connect-icon="#content-expand-icon">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">健康档案管理</div>
                        <ul>
                            <li>健康信息采集（饮食习惯、体检数据、既往病史、遗传病史、居家环境）</li>
                            <li>建立个人健康休息档案</li>
                            <li>实时更新个人健康休息档案</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">康复计划</div>
                        <div class="info-item">
                            <div class="service-content container-fluid">
                                <div class="row">
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            清扫家居
                                        </div>
                                    </div>
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            整理床铺
                                        </div>
                                    </div>
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            督促被照护者做好个人卫生
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            准备餐饮
                                        </div>
                                    </div>
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            提醒用餐
                                        </div>
                                    </div>
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            督促服药
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            关注身体变化
                                        </div>
                                    </div>
                                    <div class="col-xs-4 service-item">
                                        <div class="service-item-icon">
                                            <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                        </div>
                                        <div class="service-item-text">
                                            坚持康复训练
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="content-container">
                        <div class="item-title">健康评估</div>
                        <ul>
                            <li>疾病发病风险评估（预防二次中风）</li>
                            <li>心理测评</li>
                            <li>营养状况评估</li>
                            <li>体适能评估</li>
                            <li>阶段性康复效果评估、调整</li>
                            <li>根据疾病的不同阶段制定有针对性的康复措施</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">康复计划、实施级效果评估 </div>
                        <ul>
                            <li>专业康复团队制定康复方案和目标</li>
                            <li>专业康复团队指导康复护理方案</li>
                            <li>专业护士进行康复训练操作</li>
                            <li>康复运动指导（详细看护理内容）</li>
                            <li>用药指导、心理疏导、营养膳食指导、居住环境指导</li>
                            <li>制定评估报告</li>
                            <li>向家庭成员普及相关疾病的知识并进行心理指导</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <!--二级照护-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content1" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">帕金森康复护理</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon1"></span>
                            </div>
                            <div class="col-xs-11">
                                <p style="margin-top: 24px;margin-left: 24px;color: rgba(0, 0, 0, 0.5);line-height: 1.6em;">临床上神经科医生常用的诊断概念，特指各种原因（脑血管疾病、脑动脉硬化、感染、中毒、外伤、药物以及遗传变性等）造成的一运动迟缓为主的一组临床症候群，主要表现为震颤、肌僵直、运动迟缓和姿态不稳等。</p>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content1" class="collapse"  aria-labelledby="headingOne" connect-icon="#content-expand-icon1">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">健康档案管理</div>
                        <ul>
                            <li>健康信息采集（饮食习惯、体检数据、既往病史、遗传病史、居家环境）</li>
                            <li>建立个人健康休息档案</li>
                            <li>实时更新个人健康休息档案</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">康复计划</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        关注身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        坚持康复训练
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助沐浴
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">健康评估</div>
                        <div class="info-item">
                            <ul>
                                <li>病情控制评估</li>
                                <li>心理测评</li>
                                <li>营养状况评估</li>
                                <li>体适能评估</li>
                                <li>阶段性效果评估、调整</li>
                            </ul>
                        </div>

                    </div>
                    <div class="content-container">
                        <ul>
                            <li>专业康复团队制定康复方案和目标</li>
                            <li>专业康复团队指导康复护理方案</li>
                            <li>专业护士进行康复训练操作</li>
                            <li>康复运动指导（详细看护理内容）</li>
                            <li>用药指导、心理疏导、营养膳食指导、居住环境指导</li>
                            <li>制定评估报告</li>
                            <li>向家庭成员普及相关疾病的知识并进行心理指导</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <!--三级照护-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content2" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">阿兹海默康复</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon2"></span>
                            </div>
                            <div class="col-xs-11">
                                <p style="margin-top: 24px;margin-left: 24px;color: rgba(0, 0, 0, 0.5);line-height: 1.6em;">又称老年痴呆，是一种由于大脑器质性损害而引起的脑功能障碍，使记忆力、理解、判断、自我控制等能力发生进行性退化和持续性智能损害，对日常生活失去判断力，到疾病晚期逐渐出现自理困难，对外界完全没有反应</p>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content2" class="collapse  "  aria-labelledby="headingOne" connect-icon="#content-expand-icon2">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">健康档案管理</div>
                        <ul>
                            <li>健康信息采集（饮食习惯、体检数据、既往病史、遗传病史、居家环境）</li>
                            <li>建立个人健康休息档案</li>
                            <li>实时更新个人健康休息档案</li>
                        </ul>
                    </div>

                    <div class="content-container">
                        <div class="item-title">康复计划</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/yongcan.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        准备餐饮
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/tixing.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        提醒用餐
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/fuyao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促服药
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/liaojie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        关注身体变化
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/kangfu.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        坚持康复训练
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/xizao.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助沐浴
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenqingjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        协助做好个人卫生（洗脚、洗头、修指甲、剃须等）
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/iconfont-qingxi.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清洁消毒日常用品
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/laoren.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        预防摔倒
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">健康评估</div>
                        <ul>
                            <li>疾病发病风险评估（预防二次中风）</li>
                            <li>心理测评</li>
                            <li>营养状况评估</li>
                            <li>体适能评估</li>
                            <li>阶段性康复效果评估、调整</li>
                        </ul>

                    </div>
                    <div class="content-container">
                        <ul>
                            <li>专业康复团队制定康复方案和目标</li>
                            <li>专业康复团队指导康复护理方案</li>
                            <li>专业护士进行康复训练操作</li>
                            <li>用药指导、心理疏导、营养膳食指导、居住环境指导</li>
                            <li>评估报告</li>
                            <li>向家庭成员普及相关疾病的知识并进行心理指导</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <!--专病照护-->
        <div class="service-content introduce-item">
            <h4 >
                <div class="collapse-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#content4" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10 header-title">
                                <div class="home-care-level">院后康复护理</div><div class="triangle-right"></div>
                            </div>
                            <div class="col-xs-1">
                                <span class="icon icon-expand_more" id="content-expand-icon4"></span>
                            </div>
                            <div class="col-xs-11">
                                <p style="margin-top: 24px;margin-left: 24px;color: rgba(0, 0, 0, 0.5);line-height: 1.6em;">出院后健康是帮助出院后患者继续得到更好的护理照护,控制或减轻症状，预防继发性的功能障碍和并发症，根据不同的患者制定针对性的康护措施，提供完善的康复护理计划，延缓疾病发展，提高生活质量</p>
                            </div>
                        </div>
                    </div>


                </div>
            </h4>
            <div id="content4" class="collapse  "  aria-labelledby="headingOne" connect-icon="#content-expand-icon4">
                <div class="collapse-container">
                    <div class="content-container">
                        <div class="item-title">康复计划</div>
                        <div class="service-content container-fluid">
                            <div class="row">
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/cleaning.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        清扫家居
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/chuangpuzhengjie.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        整理床铺
                                    </div>
                                </div>
                                <div class="col-xs-4 service-item">
                                    <div class="service-item-icon">
                                        <img src="__STATIC__/img/Service/gerenweisheng.png" alt=""/>
                                    </div>
                                    <div class="service-item-text">
                                        督促被照护者做好个人卫生
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-container">
                        <div class="item-title">康复计划</div>
                        <div class="info-item">
                            <ul>
                                <li>生活指导</li>
                                <li>活动训练</li>
                                <li>肢体康复</li>
                                <li>心理康复</li>
                                <li>娱乐康复</li>
                                <li>人际沟通</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
    <!--//底部介绍信息-->
    <div class="info-footer"></div>


</div>

</body>
<script type="application/javascript" src="__STATIC__/js/stickUp.min.js"></script>
<script type="application/javascript" src="__STATIC__/js/bootstrap.min.js"></script>

<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            //服务预约置顶
            $('.service-appointment').stickUp();


        });
    });

    $('.collapse').on('hidden.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_less').addClass('icon-expand_more');
    })
    $('.collapse').on('shown.bs.collapse', function(){
        console.log('hidden');
        console.log(this);
        var icon_id = $(this).attr('connect-icon');
        $(icon_id).removeClass('icon-expand_more').addClass('icon-expand_less');
    })

</script>

</html>