<!--<script type="text/javascript" src="__STATIC__/js/service/controller/viewController.js"></script>-->
<body ng-app="appointmentApp">
    <!--<nav>关于我们</nav>-->
    <include file="Public/nav" title="关于我们" />

    <div class="introduction">
        <img src="__STATIC__/img/Service/introduction.jpg" alt=""/>
        <h3 class="ui header teal center-align">广州一家依养老服务有限公司</h3>
        <div class="introduction-content ">
            <div class="text-section">
                广州一家依养老服务有限公司是广东焜桦养老投资管理有限公司旗下控股子公司，是中国华南地区提供陪护/照护服务最具规模的运营管理商。
            </div>
            <div class="text-section">
                我司通过现代科技与互联网技术，将传统的医疗机构专业护理服务与居家养老服务有机的结合起来。我们以专业的护理服务、卓越的护理意识、即时的反馈跟进与互联平台相互结合方式，为需要长期照顾的人群提供一套专业的居家康复解决方案。
            </div>
            <div class="text-section">
                秉承着“创新改善·幸福家人”的服务理念，我司已为30多家医疗机构、100多个社区，近万名长者、病患者提供贴心、优质的照护服务，获得了社会各界的广泛认可，我们将继续努力，帮助人们享有尊严，幸福的人生。
            </div>
        </div>
    </div>
</body>