
<body class="home-page">
<div class="introduce-image">
    <img src="__STATIC__/img/Service/home-page.jpg" alt=""/>
</div>
<div class="service-phone">
    <span class="service-name">服务热线</span>
    <span class="service-phone-img"><img src="__STATIC__/img/Service/phone.png" alt=""/></span>
    <span class="service-phone-num">4000-000-601</span>
</div>

<div class="service-area container-fluid">
    <div class="row">
        <a href="new_service_info">
            <div class="col-xs-6 service-item right-border">
                <div class="service-appointment service-item-tab img-circle">
                    <img src="__STATIC__/img/Service/make-an-appointment.png" alt="" class="img-circle"/>
                </div>
                <div class="text">服务预约</div>
            </div>
        </a>
        <a href="">
            <div class="col-xs-6 service-item">
                <div class="customer-service service-item-tab img-circle">
                    <img src="__STATIC__/img/Service/customer-service.png" alt="" class="img-circle"/>
                </div>
                <div class="text">联系客服</div>
            </div>
        </a>

    </div>
</div>

<div class="info-item container-fluid">
    <a href="">
        <div class="row">
            <div class="col-xs-2 icon-img">
                <img src="__STATIC__/img/Service/health-knowledge.png" alt=""/>
            </div>
            <div class="col-xs-8 ">
                <div class="item-title">健康知识</div>
                <div class="item-intro">搜科普文章、疾病介绍等</div>
            </div>
            <div class="col-xs-1 icon-next">
                <span class="icon-chevron_right"></span>
            </div>
        </div>
    </a>

</div>

<div class="info-item container-fluid">


    <a href="http://eqxiu.com/s/KjlVp7mb">
        <div class="row">
            <div class="col-xs-2 icon-img">
                <img src="__STATIC__/img/Service/corparator-icon.png" alt=""/>
            </div>
            <div class="col-xs-8 ">
                <div class="item-title">公司简介</div>
                <div class="item-intro">了解更多有关一家照护</div>
            </div>
            <div class="col-xs-1 icon-next">
                <span class="icon-chevron_right"></span>
            </div>
        </div>
    </a>

</div>
<div style="margin-bottom: 5rem">&nbsp;</div>
<include file="Public:bottom_nav" class1="active"/>

</body>
</html>