<!--<script type="text/javascript" src="__STATIC__/js/service/controller/viewController.js"></script>-->
<body ng-app="appointmentApp">
<!--<nav>医护详情</nav>-->
<include file="Public/nav" title="医护详情" />

<div class="nurse-detail">
    <div style="height: 60px;">&nbsp;</div>
    <div class="nurse-list">

        <div class="ui raised segment">
            <h4 class="ui  black">
                医院护理
            </h4>

            <div class="ui  blue ribbon label">服 务 内 容</div>
            <ul class="ui ordered list">
                <div class="item">保持患者床单整洁、干燥、早晚收、挂蚊帐；</div>
                <div class="item">协助输液病人输液情况的看护，备好开水，扶助入厕；</div>
                <div class="item">协助做好标本采集（大、小便）；</div>
                <div class="item">协助患者更换衣服、过床/转床，清理床头杂物；</div>
                <div class="item">协助患者打饭，清洁餐具，备好开水；</div>
                <div class="item">协助行动不便患者输液期间的大小便，便后及时倾倒；</div>
                <div class="item">协助患者进食及服药，餐后给予清洁；</div>
                <div class="item">为生活不能自理的病人递送大小便器，便后及时清洗臀部和清理床铺；</div>
                <div class="item">每日早、晚协助患者洗脸、漱口、擦身、洗头（冬季每周至少1次），梳头、更衣、修指甲（趾）甲（带引流管病人除外），协助护士给患者翻身、扣背，床单有污迹随时更换；</div>
                <div class="item">若发现患者有异常则及时向医务人员报告；为患者向医护人员进行口讯传递（简单口讯）；</div>
                <div class="item">在医务人员同意下协助病人在病区行走。</div>
            </ul>
            <div class="ui  purple ribbon label">备注</div>
            <ul class="link ui list">
                <div class="item">专陪员工每天有半小时的早餐时间；各1小时的中、晚餐时间</div>
            </ul>
            <div class="ui  teal ribbon label">服务价格（元/天）（具体依照评估情况确定）</div>
            <ul class="link ui list">
                <div class="item">产房40，大房80，专陪130</div>
            </ul>
        </div>


    </div>

</div>
</div>


<div class="footer-nav">
    <a class="ui orange button" href="appointment?service_id={$service_id}">预约服务</a>
</div>


</body>
