<div class="detail-header fixed-position top-z-index">
    <div class="ui grid">
        <div class="two wide column item">
            <div class="ui item">
                <i class="list icon " id="show-list"></i>
            </div>

        </div>
        <div class="twelve wide column item">
            <div class="item"><span ng-transclude></span></div>
        </div>
        <div class="two wide column item">
        </div>

    </div>

    <div class="ui red vertical  sidebar menu" id="home-slider">
        <a href="#" class="item">
            <i class="home icon"></i>
            主页
        </a>
        <a class="active  item">
            <i class=" teal  time icon"></i>
            正在众筹
        </a>
        <a class="item ">

            <i class=" red checkmark icon"></i>
            已成功
        </a>
        <a class="item">
            <i class="edit blue icon"></i>
            发起众筹
        </a>
        <a class="item">
            <i class="green leaf icon"></i>
            项目信息
        </a>
        <a href="#" class="item">
            <i class="user black icon"></i>
            用户中心
        </a>
        <a class="item">
            <i class="info purple icon"></i>
            关于我们
        </a>
    </div>
</div>

