<!--<script type="text/javascript" src="__STATIC__/js/service/controller/viewController.js"></script>-->
<body ng-app="appointmentApp">
<!--<nav>家护详情</nav>-->
<include file="Public/nav" title="家护详情" />


<div class="nurse-detail">
        <div style="height: 60px;">&nbsp;</div>
        <div class="nurse-list">

            <div class="ui raised segment">
                <h4 class="ui  black">
                    四级照护/全自理
                </h4>
                <div class="ui ribbon red label">分 级 标 准</div>
                    <ul class="ui ordered list">
                        <li class="item">无急性病，慢性疾病稳定期</li>
                        <li class="item">生活轻度依赖照顾者（能自行进食、处理大小便）</li>
                        <li class="item">无精神心理问题或思维障碍</li>
                    </ul>


                <div class="ui  blue ribbon label">分 级 护 照 护 服 务 内 容</div>
                    <ul class="ui ordered list">
                        <div class="item">每天清扫家居，保持环境清洁</div>
                        <div class="item">每天协助被照护者整理床铺，保持衣被清洁；床上用品整洁</div>
                        <div class="item">督促被照护者做好个人卫生</div>
                        <div class="item">准备餐饮</div>
                        <div class="item">提醒被照护者用餐</div>
                        <div class="item">督促被照护者按时服药</div>
                        <div class="item">及时了解被照护者的身体变化</div>
                        <div class="item">陪同被照护者进行康复娱乐活动</div>

                    </ul>
                <div class="ui  purple ribbon label">护士长探访</div>
                    <ul class="link ui list">
                        <div class="item">每月：1-2次</div>
                    </ul>
                <div class="ui  teal ribbon label">服务价格（元/月）（具体依照评估情况确定）</div>
                <ul class="link ui list">
                    <div class="item">3200-3500</div>
                </ul>
            </div>

            <div class="ui raised segment">
                <h4 class="ui  black">
                    三级照护/轻度依赖
                </h4>
                <div class="ui ribbon red label">分 级 标 准</div>
                <ul class="ui ordered list">
                    <li class="item">无急性病，慢性疾病稳定期</li>
                    <li class="item">生活轻度依赖照顾者（能自行进食、处理大小便）</li>
                    <li class="item">无精神心理问题或思维障碍</li>
                </ul>


                <div class="ui  blue ribbon label">分 级 护 照 护 服 务 内 容</div>
                <ul class="ui ordered list">
                    <div class="item">每天清扫家居，保持环境清洁</div>
                    <div class="item">每天协助被照护者整理床铺，保持衣被清洁；床上用品整洁</div>
                    <div class="item">督促被照护者做好个人卫生</div>
                    <div class="item">准备餐饮</div>
                    <div class="item">提醒被照护者用餐</div>
                    <div class="item">督促被照护者按时服药</div>
                    <div class="item">及时了解被照护者的身体变化</div>
                    <div class="item">陪同被照护者进行康复娱乐活动</div>
                    <div class="item yellow-plus-item">协助被照护者洗澡，根据气温高低，每天或隔天一次</div>
                    <div class="item yellow-plus-item">协助被照护者做好个人卫生（洗脚、洗头、修剪指/趾甲、剃须等）</div>
                </ul>
                <div class="ui  purple ribbon label">护士长探访</div>
                <ul class="link ui list">
                    <div class="item">每月：2-3次</div>
                </ul>
                <div class="ui  teal ribbon label">服务价格（元/月）（具体依照评估情况确定）</div>
                <ul class="link ui list">
                    <div class="item">3600-4000</div>
                </ul>
            </div>


            <div class="ui raised segment">
                <h4 class="ui  black">
                    二级照护/中度依赖
                </h4>
                <div class="ui ribbon red label">分 级 标 准</div>
                <ul class="ui ordered list">
                    <li class="item">慢性病患，病情稳定</li>
                    <li class="item">生活中度依赖照顾者（能控制大小便，偶有失禁）</li>
                    <li class="item">无精神症状或攻击行为</li>
                    <li class="item">需要督促、指导服药</li>
                </ul>


                <div class="ui  blue ribbon label">分 级 护 照 护 服 务 内 容</div>
                <ul class="ui ordered list">
                    <div class="item">每天清扫家居，保持环境清洁</div>
                    <div class="item">每天协助被照护者整理床铺，保持衣被清洁；床上用品整洁</div>
                    <div class="item">督促被照护者做好个人卫生</div>
                    <div class="item">准备餐饮</div>
                    <div class="item">提醒被照护者用餐</div>
                    <div class="item">督促被照护者按时服药</div>
                    <div class="item">及时了解被照护者的身体变化</div>
                    <div class="item">陪同被照护者进行康复娱乐活动</div>
                    <div class="item yellow-plus-item">协助被照护者洗澡，根据气温高低，每天或隔天一次</div>
                    <div class="item yellow-plus-item">协助被照护者做好个人卫生（洗脚、洗头、修剪指/趾甲、剃须等）</div>
                    <div class="item red-plus-item">每天为被照护者清洗水杯、餐具、毛巾、脸盆；便器用完后及时倾倒、清洗，消毒</div>
                    <div class="item red-plus-item">协助被照护者穿脱衣物，搀扶行走不便的被照顾者如厕，防止摔倒</div>

                </ul>
                <div class="ui  purple ribbon label">护士长探访</div>
                <ul class="link ui list">
                    <div class="item">每月：3-5次</div>
                </ul>
                <div class="ui  teal ribbon label">服务价格（元/月）（具体依照评估情况确定）</div>
                <ul class="link ui list">
                    <div class="item">4100-4500</div>
                </ul>
            </div>


            <div class="ui raised segment">
                <h4 class="ui  black">
                    一级照护/重度依赖
                </h4>
                <div class="ui ribbon red label">分 级 标 准</div>
                <ul class="ui ordered list">
                    <li class="item">年老体弱，慢性病患，肢体活动功能障碍</li>
                    <li class="item">生活重度依赖他人照顾(大小便失禁)</li>
                    <li class="item">无精神症状与攻击行为</li>
                    <li class="item">需要管理药物</li>
                </ul>


                <div class="ui  blue ribbon label">分 级 护 照 护 服 务 内 容</div>
                <ul class="ui ordered list">
                    <div class="item">每天清扫家居，保持环境清洁</div>
                    <div class="item">每天协助被照护者整理床铺，保持衣被清洁；床上用品整洁</div>
                    <div class="item">督促被照护者做好个人卫生</div>
                    <div class="item">准备餐饮</div>
                    <div class="item">提醒被照护者用餐</div>
                    <div class="item">督促被照护者按时服药</div>
                    <div class="item">及时了解被照护者的身体变化</div>
                    <div class="item">陪同被照护者进行康复娱乐活动</div>
                    <div class="item yellow-plus-item">协助被照护者洗澡，根据气温高低，每天或隔天一次</div>
                    <div class="item yellow-plus-item">协助被照护者做好个人卫生（洗脚、洗头、修剪指/趾甲、剃须等）</div>
                    <div class="item red-plus-item">每天为被照护者清洗水杯、餐具、毛巾、脸盆；便器用完后及时倾倒、清洗，消毒</div>
                    <div class="item red-plus-item">协助被照护者穿脱衣物，搀扶行走不便的被照顾者如厕，防止摔倒</div>
                    <div class="item teal-plus-item">为卧床被照护者做好晨、晚间护理、口腔护理，定时翻身，检查皮肤受压的情况，预防褥疮等并发症发生</div>
                    <div class="item teal-plus-item">协助床上大小便，为大小便失禁的被照护者做到勤查看、勤换洗、勤翻身、及时更换衣被，保持被照护者身体及床单位清洁、干燥、无异味</div>
                    <div class="item teal-plus-item">供应饭菜、茶水到被照护者床边；按时协助被照护者进食、饮水、零食、服药，餐后及时为被照护者清洁整理</div>
                    <div class="item teal-plus-item">对易发生坠床意外者由家属提供床栏、座椅加绳托等安全保护具，确保安全，避免发生意外事故</div>
                    <div class="item teal-plus-item">做好心理照护和卫生宣教工作，推轮椅园内散步</div>

                </ul>
                <div class="ui  purple ribbon label">护士长探访</div>
                <ul class="link ui list">
                    <div class="item">每月：4-6次</div>
                </ul>
                <div class="ui  teal ribbon label">服务价格（元/月）（具体依照评估情况确定）</div>
                <ul class="link ui list">
                    <div class="item">4600-5000</div>
                </ul>
            </div>

            <div class="ui raised segment">
                <h4 class="ui  black">
                    特级照护/完全依赖
                </h4>
                <div class="ui ribbon red label">分 级 标 准</div>
                <ul class="ui ordered list">
                    <li class="item">慢性病后期，躯体活动功能障碍</li>
                    <li class="item">生活完全依赖他人照顾者</li>
                    <li class="item">无精神障碍与攻击行为</li>
                    <li class="item">需要管理药物</li>
                </ul>


                <div class="ui  blue ribbon label">分 级 护 照 护 服 务 内 容</div>
                <ul class="ui ordered list">
                    <div class="item">每天清扫家居，保持环境清洁</div>
                    <div class="item">每天协助被照护者整理床铺，保持衣被清洁；床上用品整洁</div>
                    <div class="item">督促被照护者做好个人卫生</div>
                    <div class="item">准备餐饮</div>
                    <div class="item">提醒被照护者用餐</div>
                    <div class="item">督促被照护者按时服药</div>
                    <div class="item">及时了解被照护者的身体变化</div>
                    <div class="item">陪同被照护者进行康复娱乐活动</div>
                    <div class="item yellow-plus-item">协助被照护者洗澡，根据气温高低，每天或隔天一次</div>
                    <div class="item yellow-plus-item">协助被照护者做好个人卫生（洗脚、洗头、修剪指/趾甲、剃须等）</div>
                    <div class="item red-plus-item">每天为被照护者清洗水杯、餐具、毛巾、脸盆；便器用完后及时倾倒、清洗，消毒</div>
                    <div class="item red-plus-item">协助被照护者穿脱衣物，搀扶行走不便的被照顾者如厕，防止摔倒</div>
                    <div class="item teal-plus-item">为卧床被照护者做好晨、晚间护理、口腔护理，定时翻身，检查皮肤受压的情况，预防褥疮等并发症发生</div>
                    <div class="item teal-plus-item">协助床上大小便，为大小便失禁的被照护者做到勤查看、勤换洗、勤翻身、及时更换衣被，保持被照护者身体及床单位清洁、干燥、无异味</div>
                    <div class="item teal-plus-item">供应饭菜、茶水到被照护者床边；按时协助被照护者进食、饮水、零食、服药，餐后及时为被照护者清洁整理</div>
                    <div class="item teal-plus-item">对易发生坠床意外者由家属提供床栏、座椅加绳托等安全保护具，确保安全，避免发生意外事故</div>
                    <div class="item teal-plus-item">做好心理照护和卫生宣教工作，推轮椅园内散步</div>
                    <div class="item green-plus-item">落实好每日生活安排计划，做好心理照护和卫生宣教工作</div>
                    <div class="item green-plus-item">照护人员严密观察被照护者情况变化，有情况随时向家属、公司管理人员报告</div>
                </ul>
                <div class="ui  purple ribbon label">护士长探访</div>
                <ul class="link ui list">
                    <div class="item">每月：5-8次</div>
                </ul>
                <div class="ui  teal ribbon label">服务价格（元/月）（具体依照评估情况确定）</div>
                <ul class="link ui list">
                    <div class="item">5100-6500</div>
                </ul>
            </div>
        </div>
        <!--<div tabindex="0" class="ui searchable floating dropdown labeled icon button">-->
            <!--<i class="filter icon"></i>-->
            <!--<span class="text">Filter Posts</span>-->
            <!--<div tabindex="-1" class="menu">-->
                <!--<div class="header">-->
                    <!--Filter by Tag-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui red empty circular label"></div>-->
                    <!--Important-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui blue empty circular label"></div>-->
                    <!--Announcement-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui black empty circular label"></div>-->
                    <!--Cannot Fix-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui green empty circular label"></div>-->
                    <!--Discussion-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    </div>


    <div class="footer-nav">
        <a class="ui orange button" href="appointment?service_id={$service_id}">预约服务</a>
    </div>


</body>
