

<body>

    <include file="Public:title_header" href="user_center" title="服务详情"/>
    <div class="service-list">
        <a href="service_detail.html?id=1">
            <img src="__STATIC__/img/Service/babysitter.png" alt=""/>
        </a>
        <a href="service_detail.html?id=3">
            <img src="__STATIC__/img/Service/hospital_care.png" alt=""/>
        </a>
        <a href="service_detail.html?id=2">
            <img src="__STATIC__/img/Service/home_care.jpg" alt=""/>
        </a>
    </div>
    <include file="Public:bottom_nav" class1="active"/>

</body>
</html>