

<body>

    <include file="Public:title_header" href="home_page" title="服务预约"/>
    <div class="service-list">
        <a href="hospital_care">
            <img src="__STATIC__/img/Service/hospital_care.png" alt=""/>
        </a>
        <a href="babysitter_service">
            <img src="__STATIC__/img/Service/babysitter.png" alt=""/>
        </a>

        <a href="home_care">
            <img src="__STATIC__/img/Service/home_care.jpg" alt=""/>
        </a>
    </div>
    <include file="Public:bottom_nav" class2="active"/>

</body>
</html>