
<body >

    <include file="Public:title_header" href="new_my_service" title="订单详情"/>

    <div class="order-detail-container"  order-id="{$order.order_id}">
        <div class="order-detail">
            <div class="customer-info detail-area">
                <h4 class="ui header teal container-fluid">
                    <a href="customer_detail?customer_id={$order.customer_detail.customer_id}">
                    <div class="row">
                        <div class="col-xs-8 header-name">
                            客户信息
                        </div>
                        <div class="col-xs-4 header-right-icon">
                            <span class="icon-chevron_right"></span>
                        </div>
                    </div>
                    </a>
                </h4>
                <div class="info-area">
                    <div class="info-line">姓名：{$order.customer_detail.customer_name}</div>
                    <div class="info-line">性别：{$order.customer_detail.customer_sex}</div>
                    <div class="info-line">年龄：{$order.customer_detail.customer_age}</div>
                    <div class="info-line">语言：{$order.customer_detail.customer_language}</div>
                </div>
            </div>

            <div class="customer-info detail-area">
                <h4 class="ui header teal container-fluid">
                    <a href="worker_info?worker_id={$worker.worker_id}">
                        <div class="row">
                            <div class="col-xs-8 header-name">
                                护工信息
                            </div>
                            <div class="col-xs-4 header-right-icon">
                                <span class="icon-chevron_right"></span>
                            </div>
                        </div>
                    </a>
                </h4>

                <div class="info-area">
                    <empty name="worker">
                        <div class="info-line">未指派护工</div>
                    </empty>
                    <div class="info-line">姓名：{$worker.worker_name}</div>
                    <div class="info-line">开始服务时间：{$worker.start_time_str}</div>
                    <div class="info-line">终止服务时间：{$worker.end_time_str}</div>
                </div>
            </div>

            <div class="order-info detail-area">
                <h4 class="ui header teal container-fluid">
                    <div class="row">
                        <div class="col-xs-8 header-name">
                            订单信息
                        </div>
                    </div>
                </h4>
                <div class="info-area">
                    <div class="info-line">订单号：{$order.order_no}</div>
                    <div class="info-line">服务类型：{$order.service_type}</div>
                    <div class="info-line">服务模式：{$order.service_mode}</div>
                    <div class="info-line">服务单价：￥{$order.order_fee}元</div>
                    <div class="info-line">时间单位：{$order.order_fee_unit}</div>
                    <div class="info-line">创建时间：{$order.add_time}</div>
                    <div class="info-line">服务开始时间：{$order.order_start_time}</div>
                    <div class="info-line">服务结束时间：{$order.order_end_time}</div>
                    <div class="info-line">预付款：￥
                        <empty name="order.order_advance_payment">
                            0
                            <else/>
                            {$order.order_advance_payment}
                        </empty>
                        元</div>
                    <div class="info-line">总费用：￥
                        <empty name="order.order_advance_payment">
                            0
                            <else/>
                            {$order.order_total_cost}
                        </empty>
                        元</div>
                    <div class="info-line" >订单转态：<span id="order-status">{$order.order_status}</span></div>

                </div>
            </div>

            <IF condition="$order.order_status_code eq 1">
                    <div class="order-detail-bottom detail-area" >
                        <div class="btn btn-success" id="confirm-btn">确认</div>
                        <div class="btn btn-danger" id="cancel-btn">取消</div>
                    </div>
                <else/>
            </IF>


            <div class="order-payment-history">
                <h4 class="ui header teal">
                    支付记录
                </h4>
                <volist name="payments" id="vo">
                    <div class="order-payment-list">
                        <div class="divider"></div>

                        <div class="order-payment-no">{$vo.order_no}-{$vo.collection_id}</div>
                        <div class="container-fluid payment-info">
                            <div class="payment-info-item row">
                                <div class="col-xs-5 item-key">付款金额</div>
                                <div class="col-xs-7 item-value">{$vo.collection_amount}元</div>
                            </div>
                            <div class="payment-info-item row">
                                <div class="col-xs-5 item-key">支付时间</div>
                                <div class="col-xs-7 item-value">{$vo.payment_time}</div>
                            </div>
                            <div class="payment-info-item row">
                                <div class="col-xs-5 item-key">支付类型</div>
                                <div class="col-xs-7 item-value">{$vo.collection_type_str}</div>
                            </div>
                            <div class="payment-info-item row">
                                <div class="col-xs-5 item-key ">支付状态</div>
                                <div class="col-xs-7 payment-status item-value ">{$vo.collection_status_str}</div>
                            </div>
                            <IF condition="$vo.collection_status eq 1">
                                <div class="payment-btn-item row">
                                    <div class="col-xs-12 payment-btn btn" collection_id="{$vo.collection_id}">支付</div>
                                </div>
                            </IF>

                        </div>
                    </div>

                </volist>
            </div>

        </div>
    </div>






</body>
<script>
    //改变订单的显示状态
    var change_order_status_display = function(order_status_str){
        $('#order-status').html(order_status_str);
    }
//添加确认按钮响应和取消按钮响应
    var order_id = $('.order-detail-container').attr('order-id');
    console.log(order_id);
    $('#confirm-btn').on('click', function(){
        $.post('confirm_order', {order_id:order_id}, function(data, status){
            //成功的话改变订单状态
            if(data.code == 200){

                change_order_status_display('进行中');
                $('.order-detail-bottom').hide(500);

            }
        }, 'json');
    })
    $('#cancel-btn').on('click', function(){
        $.post('cancel_order', {order_id:order_id}, function(data, status){
            //成功之后改变订单状态
            if(data.code == 200){

                change_order_status_display('已取消');
                $('.order-detail-bottom').hide(500);

            }

        }, 'json');
    })
    var is_paying = false;
    //支付
    $('.payment-btn').on('click', function(){
        if(!is_paying){
            is_paying = true;
            var btn = $(this);
            var collection_id = btn.attr('collection_id');
            console.log(collection_id);
            var paySignInfo;
            //获取paySign信息
            function getPaySignInfo(collection_id){
                $.ajax({
                    url:'get_pay_sign_info',
                    data: {
                        collection_id : collection_id
                    },
                    dataType: 'json',
                    async:false,
                    success : function(data, status){
                        console.log(data);
                        paySignInfo = data;
//                        alert(paySignInfo.timeStamp)

                    },
                    error : function(e){
                        console.log(e);
                    }
                });
            }

            getPaySignInfo(collection_id);

            //注册支付
            function jsApiCall()
            {
                WeixinJSBridge.invoke(
                        'getBrandWCPayRequest',
//                    {$signInfo},
                        paySignInfo,
                        function(res){
                            WeixinJSBridge.log(res.err_msg);
                            is_paying = false;
//                            alert(res.err_code+res.err_desc+res.err_msg);
//                            alert(res.err_msg);
//                            alert(res.err_code);
                            if(res.err_msg == 'get_brand_wcpay_request:ok'){
                                //支付成功
                                window.location.href = '';
                            }
                        }
                );
            }

            //调用支付
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }else{
            //不作处理
        }

    })
</script>
</html>