
<body>
<include file="Public:title_header" href="user_center" title="我的服务"/>

    <!--<div class="order-detail-container">-->
    <!--</div>-->
    <div class="container-fluid tab-container">
        <div class="service-tab row">
            <div class="tab active col-xs-6" id="tab1" view-bind="order-container">我的订单</div>
            <div class="tab col-xs-6" id="tab2" view-bind="follow-container">我关注的人</div>
        </div>
    </div>


    <div class="service-container">
        <div class="service-sub-container  front" id="order-container">
            <div class="order-list">
                <empty name="orders">
                    <div class="no-order">没有订单</div>
                </empty>
                <volist name="orders" id="vo">
                    <div class="order-li">
                        <a href="my_order_detail?order_id={$vo.order_id}">
                            <div class="order-header">
                                <span class="order-status">{$vo.order_status}</span>
                                <div class="customer-name">
                                    {$vo.customer_name}
                                </div>
                            </div>

                            <div class="order-start-time">
                                订单开始时间：{$vo.add_time}
                            </div>
                        </a>
                    </div>
                </volist>

            </div>
        </div>
        <div class="service-sub-container " id="follow-container">
            <div class="follow-list">
                <volist name="follows" id="vo">
                    <a class="item" href="customer_detail?customer_id={$vo.customer.customer_id}">
                        {$vo.customer.customer_name}
                    </a>
                    <div class="divider"></div>
                </volist>
                <div class="no-follow">
                    <div class="btn btn-success"><a href="add_follows">添加关注的人</a></div>
                </div>
            </div>

        </div>
    </div>
<include file="Public:bottom_nav" class3="active"/>
</body>
<script>
    $('.tab').on('click', function(){
        $('.tab').removeClass('active');
        var _this = $(this);
        _this.addClass('active');
        $('.service-sub-container').hide();

        var active_view_id = _this.attr('view-bind');

        $('#' + active_view_id).show();

    })
</script>
</html>