<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>

    <link rel="alternate icon" type="image/png" href="__STATIC__/img/logo.png">
    <link rel="stylesheet" href="__STATIC__/css/semantic.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/service.css"/>

    <title>{$title}</title>
</head>

<body>
    <div class="order-detail-container">

        <include file="Public:header_nav" href="my_orders" title="订单详情"/>

        <div class="order-detail">
            <div class="customer-info">
                <h4 class="ui header teal">
                    客户信息
                </h4>
                <div class="info-area">
                    <div class="info-line">姓名：<a href="customer_detail?customer_id={order.customer_detail.customer_id}">{$order.customer_detail.customer_name}</a></div>
                    <div class="info-line">性别：{$order.customer_detail.customer_sex}</div>
                    <div class="info-line">年龄：{$order.customer_detail.customer_age}</div>
                    <div class="info-line">语言：{$order.customer_detail.customer_language}</div>
                </div>
            </div>
            <div class="order-info">
                <h4 class="ui header teal">
                    订单信息
                </h4>
                <div class="info-area">
                    <div class="info-line">订单号：{$order.order_no}</div>
                    <div class="info-line">服务类型：{$order.service_type}</div>
                    <div class="info-line">服务模式：{$order.service_mode}</div>
                    <div class="info-line">服务单价：￥{$order.order_fee}元</div>
                    <div class="info-line">时间单位：{$order.order_fee_unit}</div>
                    <div class="info-line">创建时间：{$order.add_time}</div>
                    <div class="info-line">服务开始时间：{$order.order_start_time}</div>
                    <div class="info-line">服务结束时间：{$order.order_end_time}</div>
                    <div class="info-line">预付款：￥
                        <empty name="order.order_advance_payment">
                            0
                            <else/>
                            {$order.order_advance_payment}
                        </empty>
                        元</div>
                    <div class="info-line">总费用：￥
                        <empty name="order.order_advance_payment">
                            0
                            <else/>
                            {$order.order_total_cost}
                        </empty>
                        元</div>
                    <div class="info-line">订单转态：{$order.order_status}</div>

                </div>
            </div>
        </div>

    </div>
</body>
<script>

</script>
</html>